<%= render partial: 'title' %>

<div class="calculators-wrapper">
  <%= render partial: 'bmi' %>
  <%= render partial: 'nmc' %>
  <%= render partial: 'whr' %>
  <%= render partial: 'cpm' %>
  <%= render partial: 'znw' %>
</div>
