<%= render partial: 'title' %>

<section>
  <div class="container">
    <div class="section-content">
      <div class="col-md-12 col-xs-12">

        <a href="#" data-target="all" class="menu-tag calculators-tags active">Wszystkie</a>
        <a href="#" data-target="ft3ft4" class="menu-tag calculators-tags">Kalkulator Poziomu Procentowego FT4, FT3</a>
        <a href="#" data-target="homair" class="menu-tag calculators-tags">Kalkulator HOMA-IR</a>
        <a href="#" data-target="nmc" class="menu-tag calculators-tags">Kalkulator Należnej Masy Ciała</a>
        <a href="#" data-target="znw" class="menu-tag calculators-tags">Kalkulator Zapotrzebowania Na Wodę</a>
        <a href="#" data-target="bmi" class="menu-tag calculators-tags">Kalkulator BMI</a>
        <a href="#" data-target="cpm" class="menu-tag calculators-tags">Kalkulator CPM</a>

      </div>
    </div>
  </div>
</section>

<section id="calculators" class="bg-theme-colored-white">
  <div class="container">

    <div class="row mtli-row-clearfix">
      <div class="row">
        <%= render partial: 'ft3ft4' %>
        <%= render partial: 'homair' %>
      </div>

      <div class="row">
        <%= render partial: 'nmc' %>
        <%= render partial: 'znw' %>
      </div>

      <div class="row">
        <%= render partial: 'bmi' %>
        <%= render partial: 'cpm' %>
      </div>
    </div>

  </div>
</section>
