<div class="header-nav">
  <div class="header-nav-wrapper navbar-scrolltofixed bg-lighter">
    <div class="container">
      <nav id="menuzord-right" class="menuzord orange no-bg">

        <%= link_to image_tag('template/spa/logo-wide.png'), root_path, class: 'menuzord-brand pull-left flip' %>

        <ul class="menuzord-menu">
          <li class="<%= controller_name == 'home' && action_name == 'index' ? 'active' : '' %>">
            <%= link_to 'Home', root_path %>
          </li>
          <li class="<%= controller_name == 'services' ? 'active' : '' %>">
            <%= link_to 'Usługi', services_path %>
          </li>
          <li class="<%= controller_name == 'team' ? 'active' : '' %>">
            <%= link_to 'Zespół', team_path %>
          </li>
          <li class="<%= controller_name == 'results' ? 'active' : '' %>">
            <%= link_to 'Rezultaty', results_path %>
          </li>
          <li class="<%= controller_name == 'calculators' ? 'active' : '' %>">
            <%= link_to 'Kalkulatory', calculators_path %>
          </li>
          <li class="<%= controller_name == 'posts' ? 'active' : '' %>">
            <%= link_to 'Blog', blog_path %>
          </li>
          <li class="<%= controller_name == 'contact' ? 'active' : '' %>">
            <%= link_to 'Kontakt', contact_path %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
