<%= render partial: 'title' %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
          Wiele Planów - Lepsze usługi
        </h2>

        <h4 class="text-uppercase letter-space-3 mb-30">
          Posiadamy w ofercie wiele planów dla indywidualnych potrzeb
        </h4>

        <p class="text-justify">
          Różne jednostki chorobowe, nietolerancje, tryb życia, cele które chcemy osiągnąć czy nawet umiejętności
          gotowania powodują że nie ma jednego uniwersalnego planu żywieniowego. Często pod nazwą "indywidualny plan
          żywieniowy" rozumiemy dostosowanie produktów pod względem preferencji smakowych. W FitMyMind plany żywieniowe
          są tworzone pod styl życia oraz dolegliwości, chcemy aby zmiany były trwałe więc możliwe w zastosowaniu.
          Praca, sen, ilość posiłków, konstrukcja posiłków, dostarczanie składników odżywczych oraz możliwości organizmu
          na ile wykorzystamy dany produkt spożywczy i co nasz organizm zrobi z daną żywnością, czy oby na pewno dana
          żywność nam służy, to tylko jedne z licznych elementów które bierzemy pod uwagę. Początkowo wybierany jest
          rodzaj planu, który najskuteczniej będzie działał dla danego pacjenta, przeprowadzamy badania medyczne oraz
          wspólnie ustalamy cele możliwe do zrealizowania. W ten sposób maksymalizujemy rezultaty, skracamy czas kuracji
          i zapewniamy trwałe efekty bez kojarzenia diety z wyrzeczeniami i trudem.
        </p>

      </div>
    </div>
  </div>
</section>

<section id="classes" class="bg-theme-colored-white">
  <div class="container pt-0">
    <div class="row mtli-row-clearfix">
      <div class="col-md-3 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <%= image_tag 'home/metabolic_balance.jpg', alt: 'metabolic balance logo' %>
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored letter-space-2">
                Metabolic Balance
              </h4>

              <div class="date">
                <em>
                  Specjalistyczny plan żywieniowy trwający 6 miesięcy, powstający w oparciu o badania krwi i badania
                  hormonalne.
                </em>
              </div>
              <%= link_to 'Szczegóły', metabolic_balance_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <%= image_tag 'home/bonne_sante.jpg', alt: 'bonne sante logo' %>
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored letter-space-2">
                Bonne-Sante
              </h4>

              <div class="date">
                <em>
                  Indywidualne plany miesięczne z cotygodniowymi konsultacjami, pomiarami i zastrzykami
                  motywacyjnymi.
                </em>
              </div>
              <%= link_to 'Szczegóły', bonne_sante_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <%= image_tag 'home/korporacje.jpg', alt: 'korporacje logo' %>
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored letter-space-2">
                Firmy / Korporacje
              </h4>
              <div class="date">
                <em>
                  Benefit dla pracowników firm. Wzrost produktywności, zwiększenie motywacji oraz zadbanie o zdrowie
                  pracowników.
                </em>
              </div>
              <%= link_to 'Szczegóły', corporations_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <%= image_tag 'home/prelekcje.jpg', alt: 'prelekcje logo' %>
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored letter-space-2">
                Prelekcje
              </h4>

              <div class="date">
                <em>
                  Wykłady nt zdrowego odżywiania, demonstracje, rola zbilansowanej diety, ciekawostki, pomiary
                  uczestników.
                </em>
              </div>
              <%= link_to 'Szczegóły', lectures_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
