<%= render partial: 'services/metabolic_balance/title' %>

<section id="service-metabolic-balance">
  <div class="container pb-0">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="caption pr-20">

            <p class="text-justify font-22">
              Plany Metabolic Balance są idealnym rozwiązaniem dla osób zdrowych, chcących zredukować masę ciała lub
              zapobiegać chorobom cywilizacyjnym w sposób zgodny z najnowszą wiedzą potwierdzoną badaniami klinicznymi.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row ">

      <div class="col-sm-12 col-md-3">
        <%= render partial: 'sidebar' %>
      </div>

      <div class="col-md-9">
        <div class="blog-posts">
          <div class="col-md-12">

            <div class="row list-dashed">
              <%= render partial: 'services/metabolic_balance/program' %>
              <%= render partial: 'services/metabolic_balance/who' %>
              <%= render partial: 'services/metabolic_balance/phases' %>
              <%= render partial: 'services/metabolic_balance/how' %>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
