<section id="service-metabolic-balance">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-uppercase letter-space-4 mb-20 mt-0 text-theme-colored">
            Metabolic Balance
          </h2>

          <h4 class="text-uppercase letter-space-3 mb-30">
            6 miesięczny plan oparty na badaniach
          </h4>
        </div>

        <div class="col-md-7">
          <div class="caption pr-20">

            <p class="text-justify">
              Plany Metabolic Balance są idealnym rozwiązaniem dla osób zdrowych, chcących zredukować masę ciała lub
              zapobiegać chorobom cywilizacyjnym w sposób zgodny z najnowszą wiedzą potwierdzoną badaniami klinicznymi.
            </p>

            <p class="text-justify">
              Każdy organizm jest inny, nie ma jednego tak samo skutecznego planu żywieniowego dla każdego, dlatego
              powinien on być jak najbardziej indywidualnie ułożony pod Ciebie.
            </p>

            <p class="text-justify">
              Kolor papryki czy rodzaj owoców, które spożywasz niekoniecznie jest odpoweidni dla Twojego organizmu. Być
              może drób powinien zostać wykluczony z Twojego jadłospisu bo nie sprzyja Twojej utracie wagi i potęguje
              stany zapalne w organizmie, jogurty powinny zostać wprowadzone w codzienniej diecie bo tego produktu
              brakuje do pełnego odżywienia. Tym zajmują się plany, w pełny podparty badaniami sposób dobierają żywność
              do potrzeb danego organizmu.
            </p>

            <p class="text-justify">
              Dzięki dokładnym badaniom krwi (37 parametrów) obrazujących m.in. pracę wątroby, nerek, trzustki, tarczycy
              czy poziom cukru, procesów zapalnych i ich analizie tworzone zostają plany żywieniowe, które w naturalny
              sposób prowadzą do równowagi w Twoim organizmie.
            </p>

            <p class="text-justify">
              Twórcą metody jest dr med. Wolf Funfack we współpracy z wieloma specjalistmi. Program dostępny jest w 33
              krajach na całym świecie i cieszy się ogromną popularnością z uwagi na swoją niezawodność. Po
              przeprowadzeniu badań krwi, zebraniu wywiadu żywieniowego i zdrowotnego program zostaje przygotowywany po
              analizie specjalistów z różnych dziedzin, lekarzy i dietetyków w instytucie w Issen w Niemczech .
              Stworzony pod daną jednostkę sposób odywiania na całe życie.
            </p>
          </div>
        </div>

        <div class="col-md-5">
          <%= image_tag 'uslugi/usluga_metabolic_balance.jpg', alt: 'uslugi metabolic balance' %>
        </div>

        <div class="col-md-12">
          <div class="caption">
            <p class="text-justify">
              Wykonanie badań krwi jest kluczowym elementem planów MB, mówią nam jakich witamin i składników mineralnych
              brakuje naszemu organizmowi aby uregulować naszą przemianę materii i gospodarkę hormonalną. Indywidualna
              lista
              produktów spożywczych tworzona w oparciu o dane z europejskiej bazy żywności oraz 8 zasad popartych
              badaniami
              m.in. 3 posiłki dziennie pozwalają na zmianę nawyków utrzymujących nasz organizm na najbardziej optymalnym
              poziomie przez długie lata.
            </p>

            <p class="text-justify">
              Plany regulują poziom glukozy, insuliny, wyciszają stany zapalne toczące się w organizmie zapobiegając
              chorobom cywilizacyjnym. M.in. cukrzycy, otyłośći, nowotoworom. Nie mamy nic cenniejszego niż zdrowie
              dlatego
              też warto pomyśleć o zadbaniu o nie zanim jeszcze pojawią się symptomy. Często obciążenie rodzinne danymi
              jednostkami przyczynia się do rozwoju chorób również w naszych organizmach.
            </p>

            <p class="text-justify">
              Każdy plan konstruowany jest indywidualnie zawierając zbilanowaną ilość składników odżywczych białek,
              tłuszczy
              i węglowodanów. Wybór produktów natomiast nie jest podyktowany ich wartością kaloryczną czy obliczaniu
              zawartości białek, tłuszczy czy węglowodanów tylko wyłącznie ich reakcją organizmu na dany produkt ich
              wpływie
              na możliwości wykorzystania i zapotrzebowania danego produktu przez nasz organizm. Po zakończeniu programu
              nie
              występują niedobory składników odżywczych, witamin, minerałów dlatego też nie pojawia się efekt jojo. Mamy
              dużo energii i lepiej czujemy się ze swoim nowym wyglądem. Plany Metabolic Balance poza sferą fizyczną
              przyczyniają się do znacznej poprawy naszego stanu psychicznego.
            </p>

            <p class="text-justify">
              Dietoterapia z pomocą planów Metabolic Balance powoduje, że wiele schorzeń ustępuję znacznie lub
              całkowicie,
              lekarz prowadzący ma możliwość zmniejszenia dawki leku lub decyduje o wycofania leczenia
              farmakologicznego.
            </p>

            <p class="text-justify">
              Jesteśmy w stanie w znacznym stopniu wpłynąć na poprawę wyników przy tych jednostkach chrobowych,
              dolegliwościach:
            </p>

            <ul class="pl-30" style="list-style: disc">
              <li>nadwagę, otyłość</li>
              <li>cukrzycę typu II</li>
              <li>zespół jajników policystycznych</li>
              <li>niepłodność związaną z brakiem równowagi hormonalnej</li>
              <li>insulinooporność</li>
              <li>choroby tarczycy: nadczynność, niedoczynność, chorobę Hashimoto</li>
              <li>choroby skóry: trądzik, łuszczycę, AZS</li>
              <li>reumatoidalne zapalenie stawów, bóle stawów</li>
              <li>dolegliwości związane z menopauzą</li>
              <li>zaburzenia libido</li>
              <li>osteoporozę</li>
              <li>chorobę wieńcową i nadciśnienie</li>
              <li>zaburzenia snu</li>
              <li>zapalenie jelita grubego, celiakię, chorobę Leśniewskiego–Crohna</li>
              <li>migreny</li>
              <li>zaburzenia trawienne, dolegliwości żołądkowe, dolegliwości ze strony dróg żółciowych</li>
              <li>alergie i nietolerancje</li>
              <li>depresje</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'home/partials/services' %>

<section class="divider layer-overlay overlay-dark-8" data-bg-img="assets/template/nutrition/bg/bg14.jpg" data-parallax-ratio="0.7">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="testimonial-carousel-3col testimonial">

          <div class="item text-center">
            <div class="thumb">
              <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie pacjenta metabolic balance' %>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Pacjent Metabolic Balance</h6>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                tincidunt.
              </p>
            </div>
          </div>

          <div class="item text-center">
            <div class="thumb">
              <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie pacjenta metabolic balance' %>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Pacjent Metabolic Balance</h6>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                tincidunt.
              </p>
            </div>
          </div>

          <div class="item text-center">
            <div class="thumb">
              <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie pacjenta metabolic balance' %>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Pacjent Metabolic Balance</h6>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                tincidunt.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
