<%= render partial: 'title_metabolic_balance' %>

<%= render partial: 'title' %>

<section>
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row ">

      <div class="col-sm-12 col-md-3">
        <%= render partial: 'sidebar' %>
      </div>

      <div class="col-md-9">

        <section id="service-metabolic-balance">
          <div class="container pb-30">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12">
                  <div class="caption pr-20">

                    <p class="text-justify font-24">
                      Plany Metabolic Balance są idealnym rozwiązaniem dla osób zdrowych, chcących zredukować masę ciała lub
                      zapobiegać chorobom cywilizacyjnym w sposób zgodny z najnowszą wiedzą potwierdzoną badaniami klinicznymi.
                    </p>

                    <br>

                    <p class="text-justify">
                      <b>Każdy organizm jest inny, nie ma jednego tak samo skutecznego planu żywieniowego dla każdego,</b>
                      dlatego powinien on być jak najbardziej indywidualnie ułożony pod Ciebie.
                    </p>

                    <p class="text-justify">
                      <b>
                        Kolor papryki czy rodzaj owoców, które spożywasz niekoniecznie jest odpowiedni dla Twojego
                        organizmu.</b> Być może drób powinien zostać wykluczony z Twojego jadłospisu bo nie sprzyja Twojej
                      utracie wagi i potęguje stany zapalne w organizmie, jogurt powinien zostać wprowadzony w codziennej diecie
                      bo tego produktu brakuje do pełnego odżywienia. Tym zajmują się plany, w pełny podparty badaniami sposób
                      dobierają żywność do potrzeb danego organizmu.
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="service-metabolic-balance" class="bg-theme-colored">
          <div class="container pb-30 pt-30">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12">
                  <div class="caption pr-20">
                    <p class="text-justify">
                      Dzięki dokładnym badaniom krwi (37 parametrów) obrazujących m.in. pracę wątroby, nerek, trzustki, tarczycy
                      czy poziom cukru, procesów zapalnych i ich analizie tworzone zostają plany żywieniowe, które w naturalny
                      sposób prowadzą do równowagi w Twoim organizmie.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="service-metabolic-balance">
          <div class="container pt-30 pb-30">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12">

                  <p class="text-justify">
                    Metoda została stworzona przez dr med. Wolf Funfack we współpracy z wieloma specjalistami. Program dostępny
                    jest w 33 krajach na całym świecie i cieszy się ogromną popularnością z uwagi na swoją niezawodność.
                    <b>Po przeprowadzeniu badań krwi, zebraniu wywiadu żywieniowego i zdrowotnego program zostaje przygotowywany
                      po analizie specjalistów z różnych dziedzin, lekarzy i dietetyków w instytucie w Issen w Niemczech.</b>
                  </p>

                  <br>
                  <br>

                  <h4 class="text-uppercase letter-space-3 mb-30 text-theme-colored">
                    Stworzony pod daną jednostkę sposób odżywiania na całe życie
                  </h4>

                  <p class="text-justify">
                    Wykonanie badań krwi jest kluczowym elementem planów MB, mówią nam jakich witamin i składników mineralnych
                    brakuje naszemu organizmowi, aby uregulować naszą przemianę materii i gospodarkę hormonalną.
                    <b>Indywidualna lista produktów spożywczych tworzona w oparciu o dane z europejskiej bazy żywności oraz 8
                      zasad popartych badaniami m.in. 3 posiłki dziennie</b> pozwalają na zmianę nawyków utrzymujących nasz
                    organizm na najbardziej optymalnym poziomie przez długie lata.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="service-metabolic-balance" class="bg-theme-colored">
          <div class="container pb-30 pt-30">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12">
                  <div class="caption pr-20">
                    <p class="text-justify">
                      Każdy plan konstruowany jest indywidualnie zawierając zbilansowaną ilość składników odżywczych.
                    </p>

                    <p class="text-justify">
                      Wybór produktów natomiast nie jest podyktowany ich wartością kaloryczną, natomiast reakcją organizmu na
                      dany
                      produkt spożywczy, możliwością wykorzystania składników oraz zapotrzebowaniem naszego organizmu na dane
                      związki mineralne, witaminy.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="service-metabolic-balance">
          <div class="container pb-30 pt-30">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-justify">
                    Plany regulują poziom glukozy, insuliny, wyciszają stany zapalne toczące się w organizmie zapobiegając
                    chorobom cywilizacyjnym m.in. cukrzycy, otyłości, czy nowotworom. <b>Nie mamy nic cenniejszego niż zdrowie
                    dlatego też warto pomyśleć o zadbaniu o nie zanim jeszcze pojawią się symptomy.</b> Obciążeni wywiadem
                    rodzinnym
                    mamy większe szanse na pojawienie się pewnych jednostek chorobowych w naszych organizmach, więc zacznijmy
                    zapobiegać!
                  </p>

                  <p class="text-justify">
                    Po zakończeniu programu nie występują niedobory składników odżywczych, witamin, minerałów dlatego też nie
                    pojawia się efekt jojo. Mamy dużo energii i lepiej czujemy się ze swoim nowym wyglądem. <b>Plany Metabolic
                    Balance poza sferą fizyczną przyczyniają się do znacznej poprawy naszego stanu psychicznego.</b>
                  </p>

                  <p class="text-justify">
                    Dietoterapia z pomocą planów Metabolic Balance powoduje, że
                    <b>wiele schorzeń ustępuję znacznie lub całkowicie</b>,
                    lekarz prowadzący ma możliwość zmniejszenia dawki leku lub decyduje o wycofania leczenia farmakologicznego.
                  </p>

                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-theme-colored-blue">
          <div class="container pt-20 pb-0">
            <div class="section-content">
              <div class="row">
                <div class="col-md-12 pb-40">

                  <h3 class="m-0 text-white letter-space-3 font-weidth-400 pt-20 pb-30 text-justify">
                    Jak Metabolic Balance może pomóc
                  </h3>

                  <a href="#" class="mb-tags">nadwaga, otyłość</a>
                  <a href="#" class="mb-tags">cukrzyca typu II</a>
                  <a href="#" class="mb-tags">zespół policystycznych jajników</a>
                  <a href="#" class="mb-tags">niepłodność związaną z brakiem równowagi hormonalnej</a>
                  <a href="#" class="mb-tags">insulinooporność</a>
                  <a href="#" class="mb-tags">nadczynność tarczycy</a>
                  <a href="#" class="mb-tags">niedoczynność tarczycy</a>
                  <a href="#" class="mb-tags">choroba Hashimoto</a>
                  <a href="#" class="mb-tags">trądzik</a>
                  <a href="#" class="mb-tags">łuszczyca</a>
                  <a href="#" class="mb-tags">AZS</a>
                  <a href="#" class="mb-tags">reumatoidalne zapalenie stawów, bóle stawów</a>
                  <a href="#" class="mb-tags">dolegliwości związane z menopauzą</a>
                  <a href="#" class="mb-tags">zaburzenia libido</a>
                  <a href="#" class="mb-tags">osteoporoza</a>
                  <a href="#" class="mb-tags">choroba wieńcowa i nadciśnienie</a>
                  <a href="#" class="mb-tags">zaburzenia snu</a>
                  <a href="#" class="mb-tags">zapalenie jelita grubego</a>
                  <a href="#" class="mb-tags">celiakia</a>
                  <a href="#" class="mb-tags">chorobę Leśniewskiego–Crohna</a>
                  <a href="#" class="mb-tags">migreny</a>
                  <a href="#" class="mb-tags">zaburzenia trawienn</a>
                  <a href="#" class="mb-tags">dolegliwości żołądkowe</a>
                  <a href="#" class="mb-tags">dolegliwości ze strony dróg żółciowych</a>
                  <a href="#" class="mb-tags">alergie i nietolerancje</a>
                  <a href="#" class="mb-tags">depresja</a>

                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="lifestyle">
          <div class="container pb-0 pt-0">
            <div class="bg-img-right-top sm-no-bg mt-sm-0" data-margin-top="" data-bg-img="assets/uslugi/metabolic_balance_miseczki.jpg">
              <div class="row">
                <div class="col-md-6 col-md-offset-1 p-sm-40 pt-sm-0 pb-sm-10">
                  <h2 class="title text-uppercase mt-30">Przebieg planu żywieniowego</h2>
                  <p>
                    Plan składa się z 4 faz, każda z nich ma określony pozytywny wpływ na organizm i jest kluczowy aby na stałe
                    wprowadzić zdrowe nawyki żywieniowe. Czas trwania poszczególnych faz ustala opiekun na podstawie określonego
                    wcześniej celu pacjenta oraz możliwości organizmu.
                  </p>

                  <div class="icon-box text-left flip sm-text-center p-0 mt-50 mb-45 mt-sm-30">
                    <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
                      <i class="flaticon-spa-flowers-on-human-feet text-white font-36 no-rotate"></i>
                    </a>
                    <div>
                      <h5 class="icon-box-title mt-15 mb-10"><strong>1 faza</strong></h5>
                      <p>
                        przygotowuje organizm do zmiany stylu życia, jest to oczyszczenie organizmu z dotychczas spożywanych
                        produktów, robimy z pacjenta tzw. „białą/czystą kartkę”, na której ponownie znajdą się informacje
                        dotyczące odżywiania z tym, że będzie to sposób odżywiania sprzyjający naszemu zdrowiu. Wprowadzamy
                        lekkie posiłki z odpowiednimi dla danej osoby produktami oraz dedykowaną formą ich przygotowania.
                      </p>
                    </div>
                  </div>

                  <div class="icon-box text-left flip sm-text-center p-0 mb-45">
                    <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
                      <i class="flaticon-spa-spa-facial-treatment-with-mask-and-massages text-white no-rotate font-48"></i>
                    </a>
                    <div>
                      <h5 class="icon-box-title mt-15 mb-10"><strong>2 faza</strong></h5>
                      <p>
                        zas trwania ustalany jest pod pacjenta, ma na celu m.in. uregulować przemianę materii. Pacjent otrzymuje
                        indywidualnie dobrane wytyczne np. konkretna lista produktów, które w sposób przemyślany i kontrolowany
                        mają odżywić organizm dostarczając niezbędnych składników odżywczych, witamin i minerałów. Wprowadzonych
                        zostaje 8 zasad umożliwiających przestawienie organizmu na zdrowy sposób odżywiania. W zależności od
                        celu pacjenta poza naturalną utratą masy ciała, odczuwamy już na początku lepsze samopoczucie, mamy
                        więcej energii i czujemy że nasz układ pokarmowy podjął z nami współprace wracając do fizjologicznych
                        zachowań.
                      </p>
                    </div>
                  </div>

                  <div class="icon-box text-left flip sm-text-center p-0 mb-45">
                    <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
                      <i class="flaticon-spa-massage-and-spa text-white no-rotate"></i>
                    </a>
                    <div>
                      <h5 class="icon-box-title mt-15 mb-10"><strong>3 faza</strong></h5>
                      <p>
                        stosowana pod nadzorem opiekuna, ponieważ wprowadzone zostają nowe produkty, które zostały wykluczone w
                        początkowych fazach programu żywieniowego. Sprawdzamy i testujemy tworząc swoją idealną listę
                        produktową. Wprowadzane są indywidualne zalecenia np. dowolne posiłki, zwiększenie aktywności
                        fizycznej.
                      </p>
                    </div>
                  </div>

                  <div class="icon-box text-left flip sm-text-center p-0 mb-45">
                    <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
                      <i class="flaticon-spa-man-lying-on-a-deck-chair-of-a-spa text-white no-rotate font-42"></i>
                    </a>
                    <div>
                      <h5 class="icon-box-title mt-15 mb-10"><strong>4 faza</strong></h5>
                      <p>
                        dla mnie faza 4 to „życie”. Co to znaczy? Sami umiemy podejmować decyzje związane z żywieniem, wiemy co
                        nam służy, a co powoduje dyskomfort żywieniowy. Faza ta rozpoczyna się w momencie osiągnięcia przez
                        pacjenta celu estetycznego lub zdrowotnego i nie jest ograniczona czasowo. Masa ciała jest stabilna,
                        ponieważ utrata tkanki tłuszczowej przebiegała w sposób niewymuszony czyli najbardziej odpowiedni dla
                        organizmu, który sam dążył przy pomocy naturalnych składników do równowagi. Zasady metabolic balance
                        zostają na całe życie, z perspektywy własnej i z obserwacji pacjentów znacznie je ułatwiając :)
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section class="divider layer-overlay overlay-dark-8" data-bg-img="assets/template/nutrition/bg/bg14.jpg" data-parallax-ratio="0.7">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="testimonial-carousel-3col testimonial">

                  <div class="item text-center">
                    <div class="thumb">
                      <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie pacjenta metabolic balance' %>
                      <h5 class="author text-theme-colored">Jane Doe</h5>
                      <h6 class="title text-white">Pacjent Metabolic Balance</h6>
                    </div>
                    <div class="content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                        tincidunt.
                      </p>
                    </div>
                  </div>

                  <div class="item text-center">
                    <div class="thumb">
                      <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie pacjenta metabolic balance' %>
                      <h5 class="author text-theme-colored">Jane Doe</h5>
                      <h6 class="title text-white">Pacjent Metabolic Balance</h6>
                    </div>
                    <div class="content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                        tincidunt.
                      </p>
                    </div>
                  </div>

                  <div class="item text-center">
                    <div class="thumb">
                      <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie pacjenta metabolic balance' %>
                      <h5 class="author text-theme-colored">Jane Doe</h5>
                      <h6 class="title text-white">Pacjent Metabolic Balance</h6>
                    </div>
                    <div class="content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                        tincidunt.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>

      </div>

    </div>
  </div>
</section>

