<%= render partial: 'title' %>

<section id="service-metabolic-balance">
  <div class="container pb-0">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="caption pr-20">

            <h2 class="title text-uppercase">
              Dietetyk kliniczny w Twojej firmie!
            </h2>

            <p class="text-justify font-22">
              Zdrowie pracowników jest kluczowym elementem umożliwiającym sprawne funkcjonowanie firmy. Polski menedżer
              to człowiek z jednym, a często kilkoma czynnikami chorób cywilizacyjnych, co wpływa na mniejszą
              efektywność jego pracy. Zadbaj o zdrowie swoje i swoich pracowników, daj pracownikom wiedzę i stwórz
              warunki pracy, w których zdrowie jest na pierwszym miejscu. Dbając o ich zdrowie Ty na tym skorzystasz.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row ">

      <div class="col-sm-12 col-md-3">
        <%= render partial: 'sidebar' %>
      </div>

      <div class="col-md-9">
        <div class="blog-posts">
          <div class="col-md-12">

            <div class="row list-dashed">
              <%= render partial: 'why' %>
              <%= render partial: 'profit' %>
              <%= render partial: 'offer' %>
              <%= render partial: 'prices' %>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
