<%= render partial: 'title' %>

<section id="service-metabolic-balance">
  <div class="container pb-0">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="caption pr-20">

            <h1 class="title text-uppercase">
              Dietetyk kliniczny w Twojej firmie!
            </h1>

            <p class="text-justify font-22">
              Zdrowie pracowników jest kluczowym elementem umożliwiającym sprawne funkcjonowanie firmy. Daj pracownikom
              wiedzę i stwórz warunki w których zdrowie jest na pierwszym miejscu, przełoży się to na ich efektywność w
              pracy. Dbając o ich zdrowie Ty na tym skorzystasz.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row ">

      <div class="col-sm-12 col-md-3">
        <%= render partial: 'sidebar' %>
      </div>

      <div class="col-md-9">
        <div class="blog-posts">
          <div class="col-md-12">

            <div class="row list-dashed">
              <%= render partial: 'why' %>
              <%= render partial: 'profit_employer' %>
              <%= render partial: 'profit_employ' %>
              <%= render partial: 'why_fitmymind' %>
              <%= render partial: 'how' %>
              <%= render partial: 'prices' %>

            </div>

          </div>
        </div>
      </div>

      <div class="corporation-part cr-prices" style="display: none;">
        <div class="section-content">
          <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-30">
              <div class="pricing-table style1 bg-white-light border-2px border-theme-colored text-center">
                <div class="pt-40 pb-60">
                  <h3 class="package-type mt-40">Pakiet Zdrowie S</h3>
                  <p>Pojedyncza wizyta</p>
                  <p>Na próbę</p>
                  <h2 class="price text-theme-colored mb-10 font-weight-300 font-48">
                    1 250 zł
                  </h2>
                  <h4>brutto</h4>
                  <ul class="list text-left table-list bg-lightest mb-20 check-circle">
                    <li>Spotkanie wprowadzające z HR</li>
                    <li>1 dzień</li>
                    <li>8h na dzień</li>
                    <li>Max. 15 pracowników na dzień</li>
                    <li>Analizy składu ciała</li>
                    <li>Porady dietetyczne</li>
                    <li>Darmowy dojazd na terenie Krakowa</li>
                  </ul>
                  <a href="tel:510946225" class="btn btn-colored btn-theme-colored text-uppercase">Zadzwoń!</a>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-30">
              <div class="pricing-table style1 bg-white-light border-2px border-theme-colored text-center">
                <div class="pt-40 pb-60">
                  <h3 class="package-type mt-40">Pakiet Zdrowie M</h3>
                  <p>2 wizyty w miesiącu</p>
                  <p>Dla firm 10-20 pracowników</p>
                  <h2 class="price text-theme-colored mb-10 font-weight-300 font-48">
                    2 250 zł
                  </h2>
                  <h4>brutto / miesięcznie</h4>
                  <ul class="list text-left table-list bg-lightest mb-20 check-circle">
                    <li>Spotkanie wprowadzające z HR</li>
                    <li>2 dni (raz na dwa tygodnie)</li>
                    <li>8h na dzień</li>
                    <li>Max. 15 pracowników na dzień</li>
                    <li>Analizy składu ciała</li>
                    <li>Porady dietetyczne</li>
                    <li>Darmowy dojazd na terenie Krakowa</li>
                    <li>Kurs 2 specjalistycznych lekcji (z 12 dostępnych)</li>
                    <li>Wykład wprowadzający</li>
                  </ul>
                  <a href="tel:510946225" class="btn btn-colored btn-theme-colored text-uppercase">Zadzwoń!</a>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-30">
              <div class="pricing-table style1 bg-white-light border-2px border-theme-colored text-center">
                <div class="pt-40 pb-60">
                  <h3 class="package-type mt-40">Pakiet Zdrowie L</h3>
                  <p>4 wizyty w miesiącu</p>
                  <p>Dla firm 20-50 pracowników</p>
                  <h2 class="price text-theme-colored mb-10 font-weight-300 font-48">
                    4 000 zł
                  </h2>
                  <h4>brutto / miesięcznie</h4>
                  <ul class="list text-left table-list bg-lightest mb-20 check-circle">
                    <li>Spotkanie wprowadzające z HR</li>
                    <li>4 dni (1 raz w tygodniu)</li>
                    <li>8h na dzień</li>
                    <li>Max. 15 pracowników na dzień</li>
                    <li>Analizy składu ciała</li>
                    <li>Porady dietetyczne</li>
                    <li>Darmowy dojazd na terenie Krakowa</li>
                    <li>Kurs 4 specjalistycznych lekcji (z 12 dostępnych)</li>
                    <li>Wykład wprowadzający</li>
                  </ul>
                  <a href="tel:510946225" class="btn btn-colored btn-theme-colored text-uppercase">Zadzwoń!</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
