<footer id="footer" class="footer bg-black-222">

  <div class="container pb-50">
    <div class="row border-bottom-black">
      <%= render partial: 'shared/footer/contact' %>
      <%= render partial: 'shared/footer/latest_news' %>
      <%= render partial: 'shared/footer/tags' %>
      <%= render partial: 'shared/footer/opening_hours' %>
    </div>

    <div class="row mt-10">
      <%= render partial: 'shared/footer/newsletter' %>
      <%= render 'shared/footer/social_media' %>
    </div>
  </div>

  <%= render 'shared/footer/copyright' %>

  <a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
  </a>

  <%#= render 'shared/footer/znany_lekarz' %>
</footer>
