<section id="case_study">
  <div class="container">

    <div class="col-md-12">

      <h1 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
        Case study
      </h1>

      <p class="mb-30">
        Poniżej prezentujemy indywidualne przypadki pacjentów którzy podzielili się z nami swoimi osiągnięciami.
      </p>

      <div class="row services">

        <div class="row">
          <div class="col-md-6 mb-20 patient patient1">
            <div class="class-item bg-lighter box-hover-effect effect1 item">
              <div class="thumb mb-20">
                <%= image_tag 'rezultaty/pacjent1/metamorfoza_thumb.jpg', alt: 'metabolic balance logo', class: 'width-100' %>
              </div>
              <div class="content text-center flip p-25 pt-0">
                <h3 class="text-uppercase text-theme-colored letter-space-2">
                  Rafael - 29 lat
                </h3>

                <div class="date">
                  <em>
                    Prośba o pomoc w przywróceniu zdrowia i zredukowaniu tkanki tłuszczowej. Waga startowa 98 kg.
                  </em>
                  <br>
                  <br>
                  <em>
                    Rafael jest świetnym programistą, który większość dnia spędza przed komputerem. Podczas pierwszej
                    wizyty dowiedziałam się o złym dotychczasowym odżywianiu, podjadaniu, małej aktywności fizycznej,
                    bólach stawów . . .
                  </em>
                </div>

                <%= link_to 'Szczegóły', '#', class: 'btn border-theme-colored mt-30 bg-theme-colored-white patient-details', 'data-target' => 'patient1' %>

              </div>
            </div>
          </div>

          <div class="col-md-6 mb-20 patient patient2">
            <div class="class-item bg-lighter box-hover-effect effect1 item">
              <div class="thumb mb-20">
                <%= image_tag 'rezultaty/pacjent2/metamorfoza_thumb.jpg', alt: 'metabolic balance logo', class: 'width-100' %>
              </div>
              <div class="content text-center flip p-25 pt-0">
                <h3 class="text-uppercase text-theme-colored letter-space-2">
                  Paweł - 33 lata
                </h3>

                <div class="date">
                  <em>
                    Prośba o pomoc w zredukowaniu masy ciała, po licznych już próbach w przeszłości. Poprawa
                    zdrowia. Waga
                    startowa 130 kg.
                  </em>
                  <br>
                  <br>
                  <em>
                    Paweł to fantastyczny mężczyzna, pogodny i optymistycznie nastawiony do świata. Podczas
                    pierwszej
                    wizyty
                    dowiedziałam się o wcześniejszych próbach z dietami, które przyczyniły się do rozregulowania
                    przemiany
                    materii, senności, zmęczenia . . .
                  </em>
                </div>

                <%= link_to 'Szczegóły', '#', class: 'btn border-theme-colored mt-30 bg-theme-colored-white patient-details', 'data-target' => 'patient2' %>

              </div>
            </div>
          </div>
        </div>

        <div class="patient-description patient1 mt-20" style="display: none">
          <div class="row">
            <div class="col-md-4 col-md-offset-1 mt-30">
              <p class="text-justify">
                Rafael jest świetnym programistą, który większość dnia spędza przed komputerem. Podczas pierwszej
                wizyty dowiedziałam się o złym dotychczasowym odżywianiu, podjadaniu, małej aktywności fizycznej, bólach
                stawów i problemach z układem pokarmowym.
              </p>

              <p class="text-justify">
                Zdecydowaliśmy się na najlepsze rozwiązanie jakim było przejście na plan żywieniowy Metabolic Balance.
                Rafael schudł 18 kg, z czego 15 kg z tkanki tłuszczowej a wiek metaboliczny obniżył się z 41 do 24 lat.
              </p>
            </div>

            <div class="col-md-6 col-md-offset-1">
              <%= image_tag 'rezultaty/pacjent1/przed.jpg', alt: 'rafael metamorfoza', class: 'width-100' %>
            </div>
          </div>

          <div class="row mt-30">
            <div class="col-md-6">
              <%= image_tag 'rezultaty/pacjent1/po.jpg', alt: 'rafael metamorfoza', class: 'width-100' %>
            </div>

            <div class="col-md-4 col-md-offset-1 mt-40">
              <p class="text-justify">
                Było trochę pracy, ponieważ nawyki zmienione zostały całkowicie i utrzymywane są do dziś. Co
                zyskał Rafael?
              </p>

              <p class="text-justify">
                Z tego co mówi: lepszy sen, więcej energii w ciągu dnia, chęć do aktywności
                fizycznej, ból stawów ustąpił (włączyliśmy w odpowiednim czasie fizjoterapeutę), ustąpiły problemy z
                układem pokarmowym, uregulowaliśmy żywienie, więc wie co robić podczas świąt, wyjazdów, imprez.
              </p>

              <p class="text-justify">
                Wyniki
                badań kwasu moczowego i cholesterolu poprawiły się i wróciły do norm. Gratulacje!
              </p>
            </div>
          </div>
        </div>

        <div class="patient-description patient2 mt-20" style="display: none">
          <div class="row">
            <div class="col-md-4 col-md-offset-1 mt-0">
              <p class="text-justify">
                Paweł to fantastyczny mężczyzna, pogodny i optymistycznie nastawiony do świata. Podczas pierwszej wizyty
                dowiedziałam się o wcześniejszych próbach z dietami, które przyczyniły się do rozregulowania przemiany
                materii, senności, zmęczenia, bólach stawów.
              </p>

              <p class="text-justify">
                Pawła od razu skierowaliśmy na badania, potrzebne do
                stworzenia planu Metabolic Balance oraz badania dodatkowe, ponieważ podczas wywiadu zdrowotnego Paweł
                zgłaszał niepokojące objawy.
              </p>

              <p class="text-justify">
                W badaniach wyszła insulinooporność, problemy z wątrobą, wysoki kwas
                moczowy oraz stan zapalny wysoki jak na 33 latka. Paweł zredukował masę ciała o ponad 36 kg, z czego 28
                to była tkanka tłuszczowa. Obwody ciała: w pasie było 130 cm, obecnie jest 105 cm, w biodrach było 121
                cm, obecnie jest 103 cm.
              </p>
            </div>

            <div class="col-md-6 col-md-offset-1">
              <%= image_tag 'rezultaty/pacjent2/przed.jpg', alt: 'rafael metamorfoza', class: 'width-100' %>
            </div>
          </div>

          <div class="row mt-30">
            <div class="col-md-6">
              <%= image_tag 'rezultaty/pacjent2/po.jpg', alt: 'rafael metamorfoza', class: 'width-100' %>
            </div>

            <div class="col-md-4 col-md-offset-1 mt-40">
              <p class="text-justify">
                Paweł trzymał się wszystkich naszych ustaleń, na co dzień zarówno wyjazdach jak
                i imprezach czy świętach, dlatego też waga spada książkowo. Paweł jest pacjentem u którego należało w
                pewnym momencie zastopować utratę wagi.
              </p>

              <p class="text-justify">
                Zbyt szybka utrata tkanki tłuszczowej jest szkodliwa dla
                organizmu a zmiany mają być na stałe, więc organizm musi nauczyć się żyć z nową wagą. Obecnie zostało
                nam do ustalonego celu 7 kg :D. Z takim podejściem na pewno się uda!
              </p>

              <p class="text-justify">
                Paweł traktuje żywienie jako coś co
                weszło na stałe do domu, nie ma mowy o diecie czy ograniczeniach, ze wszystkim sobie świetnie radzi,
                stan zdrowia znacznie się poprawił, samopoczucie oczywiście na plus. Jeśli chodzi o obecne wyniki badań
                - sami zobaczcie. Da się! Jestem dumna mając takich pacjentów, sama przyjemność!
              </p>
            </div>
          </div>
        </div>

        <div class="row mt-60">
          <div class="col-md-6 mb-20 patient patient3">
            <div class="class-item bg-lighter box-hover-effect effect1 item">
              <div class="thumb mb-20">
                <%= image_tag 'rezultaty/pacjent3/metamorfoza_thumb.jpg', class: 'width-100' %>
              </div>
              <div class="content text-center flip p-25 pt-0">
                <h3 class="text-uppercase text-theme-colored letter-space-2">
                  Katarzyna - 35 lat
                </h3>

                <div class="date">
                  <em>
                    Prośba o pomoc w przywróceniu zdrowia, poprawa wyników badań i samopoczucia przy insulinooporności,
                    redukcja masy ciała. Waga startowa 75 kg.
                  </em>
                  <br>
                  <br>
                  <em>
                    Katarzyna to mega inteligentna kobieta z cudownym poczuciem humoru, doskonale radzi sobie zawodowo,
                    mama 2 fantastycznych dziewczynek. Podczas pierwszej wizyty dowiedziałam się o insulinooporności
                    zdiagnozowanej . . .
                  </em>
                </div>

                <%= link_to 'Szczegóły', '#', class: 'btn border-theme-colored mt-30 bg-theme-colored-white patient-details', 'data-target' => 'patient3' %>

              </div>
            </div>
          </div>

          <div class="col-md-6 mb-20 patient patient4">
            <div class="class-item bg-lighter box-hover-effect effect1 item">
              <div class="thumb mb-20">
                <%= image_tag 'rezultaty/pacjent4/metamorfoza_thumb.jpg', alt: 'metabolic balance logo', class: 'width-100' %>
              </div>
              <div class="content text-center flip p-25 pt-0">
                <h3 class="text-uppercase text-theme-colored letter-space-2">
                  Paulina - 42 lata
                </h3>

                <div class="date">
                  <em>
                    Paulina potrzebowała pomocy przy redukcji masy ciała. Waga startowa 84 kg.
                  </em>
                  <br>
                  <br>
                  <em>
                    Paulina jest tak pozytywną osobą, że po każdej wizycie człowiek się uśmiecha. Podczas pierwszej
                    wizyty dowiedziałam się co według Pauliny było główną przyczyną wyższej wagi: "Ja po prostu lubię
                    jeść". Moim zadaniem było nauczyć Paulinę jeść tak jak lubi, przy czym . . .
                  </em>
                </div>

                <%= link_to 'Szczegóły', '#', class: 'btn border-theme-colored mt-30 bg-theme-colored-white patient-details', 'data-target' => 'patient4' %>

              </div>
            </div>
          </div>
        </div>

        <div class="patient-description patient3 mt-20" style="display: none">
          <div class="row">
            <div class="col-md-6 mt-20">
              <p class="text-justify">
                Katarzyna to mega inteligentna kobieta z cudownym poczuciem humoru, doskonale radzi sobie zawodowo, mama
                2 fantastycznych dziewczynek. Podczas pierwszej wizyty dowiedziałam się o insulinooporności
                zdiagnozowanej w 2017r., zawrotach głowy, problemach ze snem i trudnościach związanych z bezskuteczną
                utratą masy ciała. Kasia przyjmowała leki podawane przy insulinooporności. Po kilku miesiącach kuracji
                leków już nie przyjmuje i jak stwierdziła jej endokrynolog “Już mnie Pani nie potrzebuje”. Sama Kasia
                mówi, że ma cerę jak marzenie i burzę włosów, mimo początkowych ograniczeń na planie.
              </p>

              <p class="text-justify">
                Katarzyna zredukowała masę ciała o 17 kg, z czego 13 kg było tkanką tłuszczową. Nosiła rozmiar ubrań 42
                a obecnie jest 36, pomyślcie jaka radość :D. Jedną z niepokojących rzeczy był osłabiony układ
                odpornościowy Katarzyny, ponieważ co chwilę dopadało ją przeziębienie lub poważniejsze choroby przy
                których przyjmowała antybiotyki. Obecnie przeziębienia pojawiają się znacznie rzadziej. Katarzyna czuje
                się dużo lepiej, nie jest senna w ciągu dnia, ma więcej energii. Wie jak radzić sobie w delegacjach czy
                imprezach dbając o zdrowe żywienie i dobre samopoczucie. Świetna robota. Gratuluję!
              </p>
            </div>

            <div class="col-md-6">
              <%= image_tag 'rezultaty/pacjent3/przed_po.jpg', alt: 'katarzyna metamorfoza', class: 'width-100' %>
            </div>
          </div>
        </div>

        <div class="patient-description patient4 mt-20" style="display: none">
          <div class="row">
            <div class="col-md-4 col-md-offset-1 mt-80">
              <p class="text-justify">
                Paulina jest tak pozytywną osobą, że po każdej wizycie człowiek się uśmiecha. Podczas pierwszej wizyty
                dowiedziałam się co według Pauliny było główną przyczyną wyższej wagi: “Ja po prostu lubię jeść”.
                Balance.
              </p>

              <p class="text-justify">
                Moim
                zadaniem było nauczyć Paulinę jeść tak jak lubi, przy czym, aby mogła tracić kilogramy na wadze. Dobre
                jedzenie da się świetnie połączyć ze zdrowym żywieniem. Paulina przeszła na plan żywieniowy Metabolic
              </p>
            </div>

            <div class="col-md-5 col-md-offset-1">
              <%= image_tag 'rezultaty/pacjent4/przed.jpg', alt: 'rafael metamorfoza', class: 'width-100' %>
            </div>
          </div>

          <div class="row mt-30">
            <div class="col-md-5 col-md-offset-1">
              <%= image_tag 'rezultaty/pacjent4/po.jpg', alt: 'rafael metamorfoza', class: 'width-100' %>
            </div>

            <div class="col-md-4 col-md-offset-1 mt-80">
              <p class="text-justify">
                Zredukowana masa ciała to 10 kg a zostało nam do ustalonego celu jeszcze 6 kg. Wiem, że się
                uda, dlatego że u Pauliny znacznie wzrosła świadomość żywieniowa.
                job.
              </p>

              <p class="text-justify">
                Wybiera lepsze jakościowo produkty,
                zwraca uwagę na to co ma odżywić organizm, uczy się nowych smaków i komponowania posiłków. Paulina
                nauczyła się pilnowania ilości płynów wypijanych każdego dnia, z czym był dość duży problem. Brawo! Good
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
