<section id="case_study" class="bg-theme-colored-white">
  <div class="container">

    <h2 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
      Case study
    </h2>

    <p class="mb-30">
      Poniżej prezentujemy indywidualne przypadki pacjentów którzy podzielili się z nami swoimi osiągnięciami.
    </p>

    <div class="row">

      <div class="col-md-4 mb-20">
        <div class="class-item bg-lighter">
          <div class="thumb mb-20">
            <%= image_tag 'home/metabolic_balance.jpg', alt: 'metabolic balance logo' %>
          </div>
          <div class="content text-center flip p-25 pt-0">
            <h4 class="text-uppercase text-theme-colored letter-space-2">
              P. Edyta G.
            </h4>

            <div class="date">
              <em>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </em>
            </div>
            <%= link_to 'Szczegóły', metabolic_balance_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-20">
        <div class="class-item bg-lighter">
          <div class="thumb mb-20">
            <%= image_tag 'home/metabolic_balance.jpg', alt: 'metabolic balance logo' %>
          </div>
          <div class="content text-center flip p-25 pt-0">
            <h4 class="text-uppercase text-theme-colored letter-space-2">
              P. Maciej L.
            </h4>

            <div class="date">
              <em>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </em>
            </div>
            <%= link_to 'Szczegóły', bonne_sante_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-20">
        <div class="class-item bg-lighter">
          <div class="thumb mb-20">
            <%= image_tag 'home/metabolic_balance.jpg', alt: 'metabolic balance logo' %>
          </div>
          <div class="content text-center p-25 pt-0">
            <h4 class="text-uppercase text-theme-colored letter-space-2">
              P. Michał N.
            </h4>
            <div class="date">
              <em>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </em>
            </div>
            <%= link_to 'Szczegóły', corporations_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
