<section id="calendar" class="mobile-section" style="display: none">

    <h1>Kalendarz</h1>

    <% @reservations.group_by(&:day).each do |day, reservations| %>
      <div class="row p-10 reservation-day">
        <h3><%= weeks_day(day) %>, <%= day %></h3>
        <% reservations.sort.each do |reservation| %>
          <div class="col-xs-6 p-0">
            <div class="calendar icon <%= class_for(reservation) %>"
                 data-day="<%= day %>" data-time="<%= reservation.time %>" >

              <div class="caption">
                <i class="fa <%= icon_for(reservation) %>"></i>
                <%= reservation.time %>
              </div>

            </div>
          </div>
        <% end %>
      </div>
    <% end %>
</section>
