<section id="profile" class="mobile-section" style="display: none">

  <h1>Profil</h1>

  <%= form_for(current_user, as: current_user, url: mobile_update_profile_path, html: { method: :put, id: 'edit-user-form' }) do |f| %>
    <div class="row p-5">
      <div class="col-xs-6">
        <%= f.label 'Wiek' %>
      </div>

      <div class="col-xs-6">
        <%= f.text_field :age, class: 'form-control user-data' %>
      </div>
    </div>

    <div class="row p-5">
      <div class="col-xs-6">
        <%= f.label 'Wzrost [cm]' %>
      </div>

      <div class="col-xs-6">
        <%= f.text_field :height, class: 'form-control user-data' %>
      </div>
    </div>

    <div class="row p-5">
      <div class="col-xs-6">
        <%= f.label 'Waga [kg]' %>
      </div>

      <div class="col-xs-6">
        <%= f.text_field :weight, class: 'form-control user-data' %>
      </div>
    </div>

    <div class="row p-5">
      <div class="col-xs-6">
        <%= f.label 'Płeć' %>
      </div>

      <div class="col-xs-6">
        <%= f.select :sex, [['kobieta', 'woman'], ['mężczyzna', 'man']], {}, class: 'form-control' %>
      </div>
    </div>

  <% end %>

  <br>

  <div class="calculators">
    <div class="row p-5">
      <div class="col-xs-8 p-0">
        <label>Body mass index</label>
      </div>

      <div class="col-xs-4">
        <%= text_field_tag :bmi, nil, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>

    <div class="row p-5">
      <div class="col-xs-8 p-0">
        <label>Należna masa ciała</label>
      </div>

      <div class="col-xs-4">
        <%= text_field_tag :nmc, nil, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>

    <div class="row p-5">
      <div class="col-xs-8 p-0">
        <label>Zapotrzebowanie na wodę</label>
      </div>

      <div class="col-xs-4">
        <%= text_field_tag :znw, nil, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>

    <div class="row p-5">
      <div class="col-xs-8 p-0">
        <label>Całkowita przemiana materii</label>
      </div>

      <div class="col-xs-4">
        <%= text_field_tag :cpm, nil, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>
  </div>

</section>
