<!--<section id="water" class="mobile-section" style="display: none">-->
<section id="water" class="mobile-section">

  <%= hidden_field_tag :current_amount, 0 %>
  <h1>Woda</h1>

  <div class="col-xs-6 p-0 pr-10 pb-20">
    <div class="water icon" data-amount="100">
      <i class="fa fa-glass-whiskey"></i>
      <div class="caption">
        <i class="fa fa-plus"></i> 100 ml
      </div>
    </div>
  </div>

  <div class="col-xs-6 p-0 pl-10 pb-20">
    <div class="water icon" data-amount="200">
      <i class="fa fa-glass-whiskey"></i>
      <div class="caption">
        <i class="fa fa-plus"></i> 200 ml
      </div>
    </div>
  </div>

  <div class="col-xs-6 p-0 pr-10 pb-20">
    <div class="water icon" data-amount="500">
      <i class="fa fa-glass-whiskey"></i>
      <div class="caption">
        <i class="fa fa-plus"></i> 500 ml
      </div>
    </div>
  </div>

  <div class="col-xs-6 p-0 pl-10 pb-20">
    <div class="water icon" data-amount="1000">
      <i class="fa fa-glass-whiskey"></i>
      <div class="caption">
        <i class="fa fa-plus"></i> 1000 ml
      </div>
    </div>
  </div>

  <div class="col-xs-12 p-0 m-0 mb-10">
    <div class="progress">
      <div class="progress-bar bg-<%= @current_statistic&.status %>" role="progressbar" style="width: <%= @current_statistic&.value.to_f * 100.0 / current_user.znw %>%">
        <span><%= @current_statistic&.value.to_i %> ml / <%= current_user.znw.to_i %> ml</span>
      </div>
    </div>
  </div>

  <div class="col-xs-12 p-0 m-0">
    <h2 class="text-theme-colored mt-10"><%= current_month %></h2>
  </div>

  <div class="water-calendar">
    <% (Date.today.beginning_of_month.day..Date.today.end_of_month.day).to_a.in_groups_of(7).each do |group| %>
      <div class="row m-0">
        <% group.each_with_index do |day| %>
          <% if day.present? %>
            <% stat = @statistics.find { |stat| stat.created_at.day == day } %>
            <div class="col-callendar-xs-1">
              <div class="day icon <%= stat&.status %> <%= 'current-day' if Date.today.day == day %>">
                <%= day %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
