<section>
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div id="grid" class="portfolio-gallery grid-3 gutter clearfix">

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'zespol/certyfikaty/magda/basics_of_dietetics_thumb.jpg', class: 'img-fullwidth', alt: 'basics of dietetics' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Basics of dietetics</h5>
                  <p>06 październik 2019, Kraków</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/basics_of_dietetics.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">

                <%= image_tag 'zespol/certyfikaty/magda/shaping_a_female_silhouette_thumb.jpg', class: 'img-fullwidth', alt: 'shaping a female silhouette' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Shaping a female silhouette</h5>
                  <p>12 styczeń 2019, Katowice</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/shaping_a_female_silhouette.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'zespol/certyfikaty/magda/10_zasad_zdrowego_stylu_zycia_thumb.jpg', class: 'img-fullwidth', alt: '10 zasad zdrowego stylu zycia' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">10 zasad zdrowego stylu życia</h5>
                  <p>Czyli jak jeść zdrowo i cieszyć się każdym dniem</p>
                  <p>- odzyskaj radość życia!</p>
                  <p>18 czerwiec 2018, Kraków</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/10_zasad_zdrowego_stylu_zycia.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">

                <%= image_tag 'zespol/certyfikaty/magda/kids_nutrition_thumb.jpg', class: 'img-fullwidth', alt: 'kids nutrition' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Kids nutrition</h5>
                  <p>08 maj 2017, Kraków</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/kids_nutrition.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">

                <%= image_tag 'zespol/certyfikaty/magda/sport_nutrition_ketogenic_and_carb_cycling_thumb.jpg', class: 'img-fullwidth', alt: 'sport nutrition ketogenic and carb cycling' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Sport nutrition - ketogenic and carb cycling</h5>
                  <p>19 marzec 2017, Kraków</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/sport_nutrition_ketogenic_and_carb_cycling.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">

                <%= image_tag 'zespol/certyfikaty/magda/dietetyka_i_suplementacja_w_sporcie_thumb.jpg', class: 'img-fullwidth', alt: 'dietetyka i suplementacja w sporcie' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Dietetyka i suplementacja w sporcie</h5>
                  <p>16 sierpień 2016, Kraków</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/dietetyka_i_suplementacja_w_sporcie.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->


            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">

                <%= image_tag 'zespol/certyfikaty/magda/praktyczna_dietoterapia_cukrzycy_typu_1_i_2_thumb.jpg', class: 'img-fullwidth', alt: 'praktyczna dietoterapia cukrzycy typu I i II' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Praktyczna dietoterapia cukrzycy typu I i II</h5>
                  <p>27 maj 2017, Kraków</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/praktyczna_dietoterapia_cukrzycy_typu_1_i_2.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
