<section>
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div id="grid" class="portfolio-gallery grid-3 gutter clearfix">

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'zespol/certyfikaty/depresja_thumb.jpg', class: 'img-fullwidth', alt: 'depresja i stres w zyciu prywatnym i zawodowym' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Depresja i stres w życiu prywatnym i zawodowym</h5>
                  <p>Rozpoznanie stresu i depresji</p>
                  <p>Wypalenie zawodowe</p>
                  <p>Stresujące sytuacje</p>
                  <p>Techniki radzenia sobie ze stresem</p>
                  <p>Sposoby radzenia sobie z depresją</p>
                  <p>11 marzec 2016, Wrocław</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/depresja.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'zespol/certyfikaty/dietetyka_sportowa_thumb.jpg', class: 'img-fullwidth', alt: 'dietetyka sportowa' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Dietetyka sportowa</h5>
                  <p>30 marzec 2014, Warszawa</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/dietetyka_sportowa.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">

                <%= image_tag 'zespol/certyfikaty/zasady_zdrowego_zywienia_thumb.jpg', class: 'img-fullwidth', alt: 'zasady zdrowego zywienia, odchudzanie i suplementacja' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Zasady zdrowego żywienia, odchudzanie i suplementacja</h5>
                  <p>12 kwiecień 2014, Warszawa</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/zasady_zdrowego_zywienia.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">

                <%= image_tag 'zespol/certyfikaty/psychodietetyka_thumb.jpg', class: 'img-fullwidth', alt: 'psychodietetyka' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Psychodietetyka</h5>
                  <p>Wstęp do psychodietetyki</p>
                  <p>Zaczynamy się zdrowo odżywiać</p>
                  <p>Podstawy dietetyki</p>
                  <p>Podstawy psychologii istotne w diecie</p>
                  <p>Zaburzenia psychiczne związane z odżywianiem</p>
                  <p>Emocjonalne funkcje jedzenia</p>
                  <p>Zasady zdrowego myślenia</p>
                  <p>16 luty 2015, Warszawa</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/psychodietetyka.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">

                <%= image_tag 'zespol/certyfikaty/trener_kulturystyki_thumb.jpg', class: 'img-fullwidth', alt: 'trener kulturystyki' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Trener kulturystyki</h5>
                  <p>Podstawy anatomii, fizjologii, pedagogiki i psychologii w zawodzie trenera</p>
                  <p>Zarys historii kulturystyki</p>
                  <p>Podstawy treningu siłowego</p>
                  <p>Zasady treningowe</p>
                  <p>Podstawy suplementacji w sportach siłowych</p>
                  <p>Anatomia czynnościowa</p>
                  <p>Planowanie treningu</p>
                  <p>Dieta i dbałość o perfekcyjny wygląd</p>
                  <p>22 wrzesień 2014, Warszawa</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/trener_kulturystyki.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">

                <%= image_tag 'zespol/certyfikaty/trener_personalny_thumb.jpg', class: 'img-fullwidth', alt: 'trener personalny' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Trener personalny</h5>
                  <p>Podstawy anatomii, fizjologii, pedagogiki i psychologii w zawodzie trenera</p>
                  <p>Wywiad z klientem</p>
                  <p>Ćwiczenia siłowe w traningu personlanym</p>
                  <p>Budowanie własnego wizerunku oraz trwałych relacji z klientem</p>
                  <p>Zapoznanie się z dietetyką sportową i suplementacją w sporcie</p>
                  <p>Poznanie zaleceń sportowych wybranych grup społecznych</p>
                  <p>Dobór zajęć do oczekiwań oraz potrzeb klientów</p>
                  <p>Planowanie treningu siłowego</p>
                  <p>Rodzaje i zalety traningów</p>
                  <p>Błędy w technice wykonywania poszczególnych ćwieczeń</p>
                  <p>Traning w różnorodnych środowiskach</p>
                  <p>29 wrzesień 2014, Warszawa</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/trener_personalny.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">

                <%= image_tag 'zespol/certyfikaty/problemy_dzieci_thumb.jpg', class: 'img-fullwidth', alt: 'problemy Zywieniowe dzieci spojrzenie lekarza i dietetyka' %>

                <div class="overlay-shade"></div>

                <div class="text-holder text-center">
                  <h5 class="title">Problemy żywieniowe dzieci - spojrzenie lekarza i dietetyka</h5>
                  <p>24 marzec 2012, Kraków</p>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/problemy_dzieci.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
