<section id="description_magda" style="display: none;">
  <div class="container pb-0 pt-0">
    <h2 class="text-uppercase letter-space-4 text-theme-colored text-center mt-50 mb-0">Magdalena Pieszczek</h2>
    <h3 class="text-uppercase text-theme-colored text-center mt-0">Psychodietetyk</h3>

    <div class="row">
      <div class="col-sm-6">
        <h3>O mnie</h3>

        <p class="text-justify">
          Psychodietetka jest dziedziną zakładającą, że człowiek jest całością, a nie tylko
          ciałem, które można odchudzić poprzez zmniejszenie kaloryczności posiłków. Staram się, aby pacjenci
          poznali mechanizmy, dzięki którym odchudzanie przestanie być rzeczą niemożliwą. Specjalizuje się w
          układaniu diet wegetariańskich, wegańskich oraz dla kobiet w ciąży. Nieustannie pogłębiam swoją
          wiedzę, będąc na bieżąco z najnowszymi informacjami, wynikami badań oraz doświadczeniami
          specjalistów.
        </p>

        <p class="text-justify">
          Doświadczenie zawodowe zdobyłam między innymi pracując z pacjentami oraz podczas licznych praktyk w
          szpitalach i ośrodkach pomocy społecznej. Jako dietetyk zajmuję się prowadzeniem warsztatów dla dzieci oraz
          seniorów z zakresu zdrowego odżywiania. Wiedzę pogłębiam uczestnicząc w szkoleniach, warsztatach i różnych
          konferencjach naukowych.
        </p>

        <p class="text-justify">
          Jestem pasjonatką pełnej smaków i zdrowej kuchni. Pragnę, aby moi pacjenci nauczyli się świadomej kuchni,
          dlatego przygotowywane przeze mnie plany żywieniowe są różnorodne, a potrawy dopasowane do preferencji
          smakowych. Pokazuje, że dieta nie musi oznaczać pozbawienia swoich ulubionych potraw.
        </p>

        <p class="text-justify">
          Uwielbiam podróżować, poznawać nowe miejsca, ludzi i kulturę. Dzięki podróżą
          poznaje kuchnie świata, które inspirują mnie później w tworzeniu planów żywieniowych.
        </p>
      </div>

      <div class="col-sm-6 font-13">
        <h3>Certyfikaty</h3>

        <div id="grid" class="portfolio-gallery grid-3 gutter clearfix">

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">
              <%= image_tag 'zespol/certyfikaty/magda/basics_of_dietetics_thumb.jpg', class: 'img-fullwidth', alt: 'basics of dietetics' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Basics of dietetics</p>
                <p>06 październik 2019, Kraków</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/basics_of_dietetics.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/magda/shaping_a_female_silhouette_thumb.jpg', class: 'img-fullwidth', alt: 'shaping a female silhouette' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Shaping a female silhouette</p>
                <p>12 styczeń 2019, Katowice</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/shaping_a_female_silhouette.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">
              <%= image_tag 'zespol/certyfikaty/magda/10_zasad_zdrowego_stylu_zycia_thumb.jpg', class: 'img-fullwidth', alt: '10 zasad zdrowego stylu zycia' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">10 zasad zdrowego stylu życia</p>
                <p>Czyli jak jeść zdrowo i cieszyć się każdym dniem</p>
                <p>- odzyskaj radość życia!</p>
                <p>18 czerwiec 2018, Kraków</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/10_zasad_zdrowego_stylu_zycia.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/magda/kids_nutrition_thumb.jpg', class: 'img-fullwidth', alt: 'kids nutrition' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Kids nutrition</p>
                <p>08 maj 2017, Kraków</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/kids_nutrition.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/magda/sport_nutrition_ketogenic_and_carb_cycling_thumb.jpg', class: 'img-fullwidth', alt: 'sport nutrition ketogenic and carb cycling' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Sport nutrition - ketogenic and carb cycling</p>
                <p>19 marzec 2017, Kraków</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/sport_nutrition_ketogenic_and_carb_cycling.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/magda/dietetyka_i_suplementacja_w_sporcie_thumb.jpg', class: 'img-fullwidth', alt: 'dietetyka i suplementacja w sporcie' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Dietetyka i suplementacja w sporcie</p>
                <p>16 sierpień 2016, Kraków</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/dietetyka_i_suplementacja_w_sporcie.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->


          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/magda/praktyczna_dietoterapia_cukrzycy_typu_1_i_2_thumb.jpg', class: 'img-fullwidth', alt: 'praktyczna dietoterapia cukrzycy typu I i II' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Praktyczna dietoterapia cukrzycy typu I i II</p>
                <p>27 maj 2017, Kraków</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/magda/praktyczna_dietoterapia_cukrzycy_typu_1_i_2.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

        </div>
      </div>
    </div>
  </div>
</section>
