<section id="description_ola" style="display: none;">
  <div class="container pb-0 pt-0">
    <h2 class="text-uppercase letter-space-4 text-theme-colored text-center mt-50 mb-0">Aleksandra Kucharczyk</h2>
    <h3 class="text-uppercase text-theme-colored text-center mt-0">Dietetyk Kliniczny</h3>

    <div class="row">
      <div class="col-sm-6">
        <h3>O mnie</h3>

        <p class="text-justify">
          Nazywam się Aleksandra Kucharczyk i jestem dietetykiem klinicznym. Dietetyka to bardzo dynamiczna dziedzina
          nauki, dlatego nie przestaję podnosić swoich kwalifikacji uczestnicząc w konferencjach, szkoleniach oraz
          pozostając na bieżąco z najnowszą literaturą naukową.
        </p>

        <p class="text-justify">
          Od 2012 roku sukcesywnie łączę teorię z praktyką tworząc odpowiednie nawyki żywieniowe moich pacjentów.
          Odchudzając czy wspomagając przy określonych jednostkach chorobowych liczne grono zadowolonych osób. W swojej
          codziennej pracy stawiam na indywidualność i wolność wyboru, dlatego też współpracuje z wieloma firmami i na
          wielu filarach dietetyki. Jestem licencjonowanym opiekunem Metabolic Balance, jednych z najbardziej
          zaawansowanych technologicznie planów żywieniowych na świecie oraz prowadzę klasyczną dietetykę w gabinecie
          Bonne Sante Kraków. Prowadzę także swoje autorskie zajęcia FitMyMind dla firm, których zadaniem jest
          poszerzenie wiedzy z zakresu zdrowego odżywiania pracowników. Uczę jak odżywiać swój organizm, aby był
          bardziej wydajny w pracy, jak utrzymywać zdrowie na wysokim poziomie, jak radzić sobie na delegacjach i
          wyjazdach, jak zminimalizować stres, jak znaleźć motywację oraz jak znaleźć work-life-balance.
        </p>

        <p class="text-justify">
          Moi podopieczni przechodzą przemiany zaczynając od "świadomej głowy", prowadząc do wymarzonej sylwetki i
          poprawy jakości życia. Plany żywieniowe zawsze opracowywane są z myślą o pacjencie tak, aby dieta była
          skuteczna, przyjemna w stosowaniu, wzmacniała organizm i dawała szansę na dłuższe, komfortowe życie.

        <p class="text-justify">
          Dietetyka to przede wszystkim praca z drugim człowiekiem i za to cenię ją najbardziej. Sukcesy moich
          podopiecznych dają mi ogromną satysfakcję i motywują do ciągłego rozwoju zawodowego. Dobry dietetyk powinien
          posiadać wszechstronną wiedzę z zakresu żywienia, aktywności fizycznej oraz psychologii, dlatego też posiadam
          liczne certyfikaty potwierdzające moje kompetencje.
        </p>

        <p class="text-justify">
          Nigdy nie zalecam pacjentom tego, na co sama bym się nie zdecydowała, byłam dietetykiem również dla siebie
          gubiąc zbędne 30 kilogramów, walcząc z wieloma jednostkami chorobowymi. Odchudzając siebie nauczyłam się
          dyscypliny, wytrwałości, a przede wszystkim poznałam swój organizm i wiem z jakimi trudnościami borykają się
          osoby otyłe. Potrafię zadbać o siebie i o swoich podopiecznych. Jestem przekonana, że mogę przyczynić się
          również do Twojego sukcesu.
        </p>

      </div>

      <div class="col-sm-6 font-13">
        <h3>Certyfikaty</h3>

        <div id="grid" class="portfolio-gallery grid-3 gutter clearfix">

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">
              <%= image_tag 'zespol/certyfikaty/ola/praktyka_treningowa_2_thumb.jpg', class: 'img-fullwidth', alt: 'praktyka treningowa 2' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Praktyka treningowa cz. II</p>
                <p>19 listopad 2016, Kraków</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/praktyka_treningowa_2.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">
              <%= image_tag 'zespol/certyfikaty/ola/dietetyka_i_suplementacja_w_sporcie_thumb.jpg', class: 'img-fullwidth', alt: 'dietetyka i suplementacja w sporcie' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Dietetyka i suplementacja w sporcie</p>
                <p>13 listopad 2016, Kraków</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/dietetyka_i_suplementacja_w_sporcie.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">
              <%= image_tag 'zespol/certyfikaty/ola/praktyka_treingowa_1_thumb.jpg', class: 'img-fullwidth', alt: 'praktyka treingowa 1' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Praktyka treingowa cz. I</p>
                <p>12 listopad 2016, Kraków</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/praktyka_treingowa_1.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">
              <%= image_tag 'zespol/certyfikaty/ola/dietetyka_sportowa_thumb.jpg', class: 'img-fullwidth', alt: 'dietetyka sportowa' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Dietetyka sportowa</p>
                <p>30 marzec 2014, Warszawa</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/dietetyka_sportowa.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">
              <%= image_tag 'zespol/certyfikaty/ola/depresja_i_stres_w_zyciu_preywatnym_i_zawodowym_thumb.jpg', class: 'img-fullwidth', alt: 'depresja i stres w zyciu prywatnym i zawodowym' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Depresja i stres w życiu prywatnym i zawodowym</p>
                <p>Rozpoznanie stresu i depresji</p>
                <p>Wypalenie zawodowe</p>
                <p>Stresujące sytuacje</p>
                <p>Techniki radzenia sobie ze stresem</p>
                <p>Sposoby radzenia sobie z depresją</p>
                <p>11 marzec 2016, Wrocław</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/depresja_i_stres_w_zyciu_preywatnym_i_zawodowym.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/ola/psychodietetyka_thumb.jpg', class: 'img-fullwidth', alt: 'psychodietetyka' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Psychodietetyka</p>
                <p>Wstęp do psychodietetyki</p>
                <p>Zaczynamy się zdrowo odżywiać</p>
                <p>Podstawy dietetyki</p>
                <p>Podstawy psychologii istotne w diecie</p>
                <p>Zaburzenia psychiczne związane z odżywianiem</p>
                <p>Emocjonalne funkcje jedzenia</p>
                <p>Zasady zdrowego myślenia</p>
                <p>16 luty 2015, Warszawa</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/psychodietetyka.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/ola/trener_personalny_thumb.jpg', class: 'img-fullwidth', alt: 'trener personalny' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Trener personalny</p>
                <p>Podstawy anatomii, fizjologii, pedagogiki i psychologii w zawodzie trenera</p>
                <p>Wywiad z klientem</p>
                <p>Ćwiczenia siłowe w traningu personlanym</p>
                <p>Budowanie własnego wizerunku oraz trwałych relacji z klientem</p>
                <p>Zapoznanie się z dietetyką sportową i suplementacją w sporcie</p>
                <p>Poznanie zaleceń sportowych wybranych grup społecznych</p>
                <p>Dobór zajęć do oczekiwań oraz potrzeb klientów</p>
                <p>Planowanie treningu siłowego</p>
                <p>Rodzaje i zalety traningów</p>
                <p>Błędy w technice wykonywania poszczególnych ćwieczeń</p>
                <p>Traning w różnorodnych środowiskach</p>
                <p>29 wrzesień 2014, Warszawa</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/trener_personalny.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/ola/trener_kulturystyki_thumb.jpg', class: 'img-fullwidth', alt: 'trener kulturystyki' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Trener kulturystyki</p>
                <p>Podstawy anatomii, fizjologii, pedagogiki i psychologii w zawodzie trenera</p>
                <p>Zarys historii kulturystyki</p>
                <p>Podstawy treningu siłowego</p>
                <p>Zasady treningowe</p>
                <p>Podstawy suplementacji w sportach siłowych</p>
                <p>Anatomia czynnościowa</p>
                <p>Planowanie treningu</p>
                <p>Dieta i dbałość o perfekcyjny wygląd</p>
                <p>22 wrzesień 2014, Warszawa</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/trener_kulturystyki.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/ola/zasady_zdrowego_zywienia_odchudzanie_i_suplementacja_thumb.jpg', class: 'img-fullwidth', alt: 'zasady zdrowego zywienia, odchudzanie i suplementacja' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Zasady zdrowego żywienia, odchudzanie i suplementacja</p>
                <p>12 kwiecień 2014, Warszawa</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/zasady_zdrowego_zywienia_odchudzanie_i_suplementacja.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->
        </div>
        <div id="grid" class="portfolio-gallery grid-3 gutter clearfix">

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/ola/nowatorska_dietoterapia_chorob_tarczycy_thumb.jpg', class: 'img-fullwidth', alt: 'nowatorska dietoterapia chorob tarczycy' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Nowatorska dietoterapia chorob tarczycy</p>
                <p>Protokół leczenia chorób tarczycy:</p>
                <p>Hashimoto, nadczynność, niedoczynność</p>
                <p>opracowany w oparciu o najnowsze badania naukowe</p>
                <p>12 grudzien 2017, Kraków</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/nowatorska_dietoterapia_chorob_tarczycy.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/ola/meritum_coachingu_w_praktyce_thumb.jpg', class: 'img-fullwidth', alt: 'meritum coachingu w praktyce' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Meritum coachingu w praktyce</p>
                <p>12 lipiec 2016, Wrocław</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/meritum_coachingu_w_praktyce.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item photography">
            <div class="thumb">

              <%= image_tag 'zespol/certyfikaty/ola/problemy_zywieniowe_dzieci_spojrzenie_lekarza_i_dietetyka_thumb.jpg', class: 'img-fullwidth', alt: 'problemy zywieniowe dzieci spojrzenie lekarza i dietetyka' %>

              <div class="overlay-shade"></div>

              <div class="text-holder text-center">
                <p class="text-theme-colored">Problemy żywieniowe dzieci - spojrzenie lekarza i dietetyka</p>
                <p>24 marzec 2012, Kraków</p>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/zespol/certyfikaty/ola/problemy_zywieniowe_dzieci_spojrzenie_lekarza_i_dietetyka.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

        </div>
      </div>
    </div>
  </div>
</section>
