<%= render partial: 'title' %>

<section>
  <div class="container-fluid pb-0">

    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="text-uppercase letter-space-4 mb-20 text-theme-colored">Galeria
            <%= image_tag 'fitmymind_biale_220.jpg', width: '250', class: 'mb-5' %>
          </h1>

          <p class="text-uppercase letter-space-4">
            Więcej zdjęć z naszego gabinetu znajdziesz na

            <a href="https://www.facebook.com/Aleksandra-Kucharczyk-Dietetyk-2839618429385669"
               class="text-theme-colored font-weight-700" target="_blank">
              facebooku
            </a>

             i

            <a href="https://www.instagram.com/dietetyk_aleksandra_kucharczyk/"
               class="text-theme-colored font-weight-700" target="_blank" target="_blank">
              instagramie
            </a>

          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container pt-0 pb-0">
    <div class="section-content">
      <div class="col-md-8 col-md-offset-2 col-xs-12">

        <div class="gallery-filter-btns">
          <%= link_to 'Wszystkie', '#', class: 'menu-tag gallery-filter-btn active', 'data-filter' => 'all' %>
          <%= link_to 'Rezultaty', '#', class: 'menu-tag gallery-filter-btn', 'data-filter' => 'results' %>
          <%= link_to 'Gabinet', '#', class: 'menu-tag gallery-filter-btn', 'data-filter' => 'office' %>
          <%= link_to 'Ciekawostki', '#', class: 'menu-tag gallery-filter-btn', 'data-filter' => 'curiosities' %>
          <%= link_to 'Wydarzenia', '#', class: 'menu-tag gallery-filter-btn', 'data-filter' => 'events' %>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="gallery">
  <div class="container-fluid pb-0">

    <div class="section-content">
      <div class="row">

        <!-- Portfolio Gallery Grid -->
        <div id="grid" class="portfolio-gallery grid-4 clearfix">

          <!-- Portfolio Item Start -->
          <div class="portfolio-item office">
            <div class="thumb">
              <%= image_tag 'galeria/biurko.jpg', alt: 'galeria miejsce przyjmowania' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Miejsce przyjmowania pacjentów :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/biurko_big.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item results">
            <div class="thumb">
              <%= image_tag 'galeria/metamorfoza_rafael.jpg', alt: 'metamorfoza Rafaela' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Metamorfoza Rafaela :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/metamorfoza_rafael_big.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item office">
            <div class="thumb">
              <%= image_tag 'galeria/bon_podarunkowy.jpg', alt: 'galeria bon podarunkowy' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Bon podarunkowy do kupienia dla bliskich :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/bon_podarunkowy_big.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item office">
            <div class="thumb">
              <%= image_tag 'galeria/poczekalnia_bonne_sante.jpg', alt: 'galeria poczekalnia z wystawką' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Poczekalnia z wystawką :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/poczekalnia_bonne_sante_big.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item office">
            <div class="thumb">
              <%= image_tag 'galeria/krzesla.jpg', alt: 'galeria magazyny do poczytania food forum' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Magazyny do poczytania zawsze aktualne :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/krzesla_big.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item office">
            <div class="thumb">
              <%= image_tag 'galeria/dlugopisy.jpg', alt: 'galeria skutecznie odchudzamy' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Skutecznie odchudzamy :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/dlugopisy.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item curiosities">
            <div class="thumb">
              <%= image_tag 'galeria/sniadanie_do_szkoly.jpg', alt: 'galeria przygotuj swoje dziecko' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Przygotuj swoje dziecko do dnia pełnego wyzwań :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/sniadanie_do_szkoly.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item results">
            <div class="thumb">
              <%= image_tag 'galeria/metamorfoza_katarzyna.jpg', alt: 'metamorfoza Katarzyny' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Metamorfoza Katarzyny :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/metamorfoza_katarzyna_big.jpg">View
                more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item office">
            <div class="thumb">
              <%= image_tag 'galeria/gabinet_wnetrze.jpg', alt: 'galeria gabinet od środka' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Gabinet od środka :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/gabinet_wnetrze_big.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item results">
            <div class="thumb">
              <%= image_tag 'galeria/metamorfoza_paulina.jpg', alt: 'metamorfoza Pauliny' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Metamorfoza Pauliny :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/metamorfoza_paulina_big.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item office">
            <div class="thumb">
              <%= image_tag 'galeria/orzechy.jpg', alt: 'galeria bonne sante orzechy' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Orzechy od cudownej pacjentki :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/orzechy.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item results">
            <div class="thumb">
              <%= image_tag 'galeria/metamorfoza_pawel.jpg', alt: 'metamorfoza Pawła' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Metamorfoza Pawła :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/metamorfoza_pawel_big.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item curiosities">
            <div class="thumb">
              <%= image_tag 'galeria/ocet_na_zylaki.jpg', alt: 'galeria bonne sante ocet na zylaki' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Kosmetyczne triki :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/ocet_na_zylaki.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item office">
            <div class="thumb">
              <%= image_tag 'galeria/mozliwosci.jpg', alt: 'galeria bonne sante mozliwosci' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Motywacja na dzisiaj :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/mozliwosci.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item events">
            <div class="thumb">
              <%= image_tag 'galeria/pomiary.jpg', alt: 'galeria bonne sante pomiary' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Pomiary pacjentów :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/pomiary.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item curiosities">
            <div class="thumb">
              <%= image_tag 'galeria/pieczenie_ryby.jpg', alt: 'galeria bonne sante pieczenie ryby' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Kreatywna kuchnia :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/pieczenie_ryby.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item office">
            <div class="thumb">
              <%= image_tag 'galeria/food_forum.jpg', alt: 'galeria bonne sante dlugopisy' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Co nieco do poczytania :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/food_forum_big.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item office">
            <div class="thumb">
              <%= image_tag 'galeria/poczekalnia.jpg', alt: 'galeria poczekalnia' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Poczekalnia dla naszych pacjentów :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/poczekalnia.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

          <!-- Portfolio Item Start -->
          <div class="portfolio-item office">
            <div class="thumb">
              <%= image_tag 'galeria/mech.jpg', alt: 'galeria bonne sante mech' %>
              <div class="overlay-shade"></div>
              <div class="text-holder text-center">
                <h4 class="title">Logo Bonne Sante wykonane przez naszego dietetyka :)</h4>
              </div>
              <a class="hover-link" data-lightbox="image" href="assets/galeria/mech.jpg">View more</a>
            </div>
          </div>
          <!-- Portfolio Item End -->

        </div>
        <!-- End Portfolio Gallery Grid -->

      </div>
    </div>
  </div>
</section>
