<%= render partial: 'title' %>

<section>
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="blog-posts single-post">
          <article class="post clearfix mb-0">
            <div class="entry-header">
              <div class="post-thumb thumb">
                <%= image_tag @post.photo.url(:original), size: '850x450' %>
              </div>
            </div>
            <div class="entry-content">

              <div class="entry-title pt-0">
                <h4>
                  <%= link_to @post.title&.html_safe, post_path(@post) %>
                </h4>
              </div>

              <div class="entry-meta mb-20">
                <ul class="list-inline">
                  <li>Napisane:
                    <span class="text-theme-colored">
                      <%= @post.created_at.strftime('%d/%m/%Y') %>
                    </span>
                  </li>
                  <li>Przez:
                    <span class="text-theme-colored">
                      <%= @post.author %>
                    </span>
                  </li>
                </ul>
              </div>

              <div class="post-introduction">
                <%= @post.introduction&.html_safe %>
              </div>

              <div class="post-content">
                <%= @post.content&.html_safe %>
              </div>

              <br>

              <div class="post-bibliography">
                <%= @post.bibliography&.html_safe %>
              </div>

              <div class="mt-30 mb-0">

                <div class="fb-share-button" data-href="<%= post_url(@post  ) %>" data-layout="button" data-size="large">
                  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                    Udostępnij
                  </a>
                </div>

              </div>
            </div>
          </article>

          <div class="tagline p-0 pt-20 mt-5">
            <div class="row">

              <div class="col-md-4">
                <div class="categories">
                  <i class="fa fa-tags text-theme-colored"></i>
                    <span>Kategoria: &nbsp;<%= link_to @post.category.name, '#', class: 'post-category' %></span>
                </div>
              </div>
              <div class="col-md-8">
                <div class="tags">
                  <i class="fa fa-tags text-theme-colored"></i>
                    <span>Tagi: &nbsp;</span>
                    <% @post.tags.each do |tag| %>
                      <%= link_to tag.name, '#', class: 'post-tag' %>
                    <% end %>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
