<%= render partial: 'title' %>

<section>
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="blog-posts single-post">
          <article class="post clearfix mb-0">
            <div class="entry-header">
              <div class="post-thumb thumb">
                <%= image_tag @post.photo.url(:original), size: '850x450' %>
              </div>
            </div>
            <div class="entry-content">

              <div class="entry-title pt-0">
                <h4>
                  <%= link_to @post.title, post_path(@post) %>
                </h4>
              </div>

              <div class="entry-meta mb-20">
                <ul class="list-inline">
                  <li>Napisane:
                    <span class="text-theme-colored">
                      <%= @post.created_at.strftime('%d/%m/%Y') %>
                    </span>
                  </li>
                  <li>Przez:
                    <span class="text-theme-colored">
                      <%= @post.author %>
                    </span>
                  </li>
                  <li>
                    <i class="fa fa-comments-o ml-5 mr-5"></i>
                    0 komentarzy
                  </li>
                </ul>
              </div>

              <p class="mb-15">
                <%= @post.content %>
              </p>

              <div class="mt-30 mb-0">
                <h5 class="pull-left mt-10 mr-20 text-theme-colored">Udostępnij:</h5>
                <ul class="social-icons icon-circled m-0">
                  <li><a href="#" data-bg-color="#3A5795"><i class="fa fa-facebook text-white"></i></a></li>
                  <li><a href="#" data-bg-color="#55ACEE"><i class="fa fa-twitter text-white"></i></a></li>
                </ul>
              </div>

            </div>
          </article>

          <div class="tagline p-0 pt-20 mt-5">
            <div class="row">

              <div class="col-md-4">
                <div class="categories">
                  <i class="fa fa-tags text-theme-colored"></i>
                    <span>Kategoria: &nbsp;<%= link_to @post.category.name, '#', class: 'post-category' %></span>
                </div>
              </div>
              <div class="col-md-8">
                <div class="tags">
                  <i class="fa fa-tags text-theme-colored"></i>
                    <span>Tagi: &nbsp;</span>
                    <% @post.tags.each do |tag| %>
                      <%= link_to tag.name, '#', class: 'post-tag' %>
                    <% end %>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
