<section class="divider" data-bg-img="assets/home/fakty.jpg">
  <div class="container-fluid pt-0 pb-0">
    <div class="section-content">
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7 bg-grey">
          <div class="pt-40 pr-50 pb-70 pl-60 p-md-30">

            <h2 class="title letter-space-4">
              <%= image_tag 'fitmymind_szare_220.jpg', class: 'mb-5' %>
              <span class="text-uppercase font-weight-600">fakty</span>
            </h2>

            <p class="mb-40 text-justify">
              Codziennie mamy nowych pacjentów, każdego dnia pacjenci kończą kuracje
              i&nbsp;wychodzą z gabinetu jako nowe osoby. Pamiętajmy że za każdym utraconym kilogramem kryje się
              poświęcenie i wytrwałość. Nie jesteśmy w stanie oddać satysfakcji jaką daje nam praca z ludźmi,
              za to możemy pokazać kilka danych liczbowych.
            </p>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center">
                <div class="funfact ml-md-0">
                  <a href="#"><%= image_tag 'home/ikony/lata_doswiadczenia.png', size: '64' %></a>
                  <h3 class="animate-number font-28 mt-15 mb-10" data-value="8" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Lat profesjonalnego doświadczenia i działania na rynku dietetycznym.
                  </h5>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center ml-50 ml-md-0">
                <div class="funfact ml-md-0">
                  <a href="#"><%= image_tag 'home/ikony/dzialanie_na_rynku_korporacji.png', size: '64' %></a>
                  <h3 class="animate-number font-28 mt-15 mb-10" data-value="2" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Lata działania na rynku korporacji.
                  </h5>
                </div>
              </div>
            </div>

            <div class="row mt-30">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center">
                <div class="funfact">
                  <a href="#"><%= image_tag 'home/ikony/firm.png', size: '64' %></i></a>
                  <h3 class="animate-number font-28 mt-15 mb-10" data-value="12" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Firm które korzysta z naszych usług regularnie.
                  </h5>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center ml-50 ml-md-0">
                <div class="funfact">
                  <a href="#"><%= image_tag 'home/ikony/zadowoleni_pacjenci.png', size: '64' %></a>
                  <h3 class="animate-number font-28 mt-15 mb-10" data-value="1180" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Zadowolonych pacjentów, którzy już nie potrzebują dietetyka.
                  </h5>
                </div>
              </div>
            </div>

            <div class="row mt-30">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center">
                <div class="funfact">
                  <a href="#"><%= image_tag 'home/ikony/spalone_kilogramy.png', size: '64' %></a>
                  <h3 class="animate-number font-28 mt-15 mb-10" data-value="14750" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Spalonych kilogramów, które nie wracają.
                  </h5>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center ml-50 ml-md-0">
                <div class="funfact">
                  <a href="#"><%= image_tag 'home/ikony/polecenia.png', size: '64' %></a>
                  <h3 class="animate-number font-28 mt-15 mb-10" data-value="870" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Pacjentów z polecenia
                  </h5>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
