<section id="gallery" class="bg-lighter">
  <div class="container-fluid pb-0">

    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="title text-uppercase">FitMyMind <span class="text-white font-weight-300">galeria</span></h2>

          <p class="text-uppercase letter-space-4">
            Więcej zdjęć z naszego gabinetu znajdziesz na facebooku i instagramie
          </p>
        </div>
      </div>
    </div>

    <div class="section-content">
      <div class="row">

          <!-- Portfolio Gallery Grid -->
          <div id="grid" class="portfolio-gallery grid-4 clearfix">

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'home/galeria/dlugopisy.jpg', alt: 'galeria bonne sante dlugopisy' %>
                <div class="overlay-shade"></div>
                <div class="text-holder text-center">
                  <h4 class="title">Prezent od naszego pacjenta :)</h4>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/home/galeria/dlugopisy.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'home/galeria/gabinet.jpg', alt: 'galeria bonne sante gabinet' %>
                <div class="overlay-shade"></div>
                <div class="text-holder text-center">
                  <h4 class="title">Wejście do naszego gabinetu przy ul. Dobrego Pasterza 120 :)</h4>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/home/galeria/gabinet.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'home/galeria/ocet_na_zylaki.jpg', alt: 'galeria bonne sante ocet na zylaki' %>
                <div class="overlay-shade"></div>
                <div class="text-holder text-center">
                  <h4 class="title">Kosmetyczne triki :)</h4>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/home/galeria/ocet_na_zylaki.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'home/galeria/orzechy.jpg', alt: 'galeria bonne sante orzechy' %>
                <div class="overlay-shade"></div>
                <div class="text-holder text-center">
                  <h4 class="title">Orzechy od cudownej pacjentki :)</h4>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/home/galeria/orzechy.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'home/galeria/pieczenie_ryby.jpg', alt: 'galeria bonne sante pieczenie ryby' %>
                <div class="overlay-shade"></div>
                <div class="text-holder text-center">
                  <h4 class="title">Kreatywna kuchnia :)</h4>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/home/galeria/pieczenie_ryby.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'home/galeria/sniadanie_do_szkoly.jpg', alt: 'galeria bonne sante sniadanie do szkoly' %>
                <div class="overlay-shade"></div>
                <div class="text-holder text-center">
                  <h4 class="title">Przygotuj swoje dziecko do dnia pełnego wyzwań :)</h4>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/home/galeria/sniadanie_do_szkoly.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'home/galeria/mozliwosci.jpg', alt: 'galeria bonne sante smozliwosci' %>
                <div class="overlay-shade"></div>
                <div class="text-holder text-center">
                  <h4 class="title">Motywacja na dzisiaj :)</h4>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/home/galeria/mozliwosci.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item photography">
              <div class="thumb">
                <%= image_tag 'home/galeria/pomiary.jpg', alt: 'galeria bonne sante pomiary' %>
                <div class="overlay-shade"></div>
                <div class="text-holder text-center">
                  <h4 class="title">Pomiary pacjentów :)</h4>
                </div>
                <a class="hover-link" data-lightbox="image" href="assets/home/galeria/pomiary.jpg">View more</a>
              </div>
            </div>
            <!-- Portfolio Item End -->

          </div>
          <!-- End Portfolio Gallery Grid -->

        </div>
      </div>
    </div>
  </div>
</section>
