<section id="classes">
  <div class="container">
    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <p class="text-uppercase letter-space-4">
            Odpowiadamy na wszystkie potrzeby naszych pacjentów poprzez dobór odpowiedniej usługi i planu żywieniowego
          </p>

        </div>
      </div>
    </div>

    <div class="container pt-0">
      <div class="row mtli-row-clearfix services">
        <div class="col-md-4 mb-30">
          <div class="item">
            <div class="class-item box-hover-effect effect1 bg-lighter">
              <div class="thumb mb-20">
                <%= image_tag 'home/metabolic_balance.jpg', alt: 'metabolic balance logo' %>
              </div>
              <div class="content text-center flip p-20 pt-0">
                <h4 class="text-uppercase text-theme-colored letter-space-2">
                  Metabolic Balance
                </h4>

                <div class="date">
                  <em>
                    Najbardziej zaawansowany technologicznie plan żywieniowy tworzony na podstawie 37 parametrów krwi
                    oraz informacji dotyczących zdrowia.
                  </em>
                </div>
                <%= link_to 'Szczegóły', metabolic_balance_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30 bg-theme-colored-white' %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-30">
          <div class="item">
            <div class="class-item box-hover-effect effect1 bg-lighter">
              <div class="thumb mb-20">
                <%= image_tag 'home/bonne_sante.jpg', alt: 'bonne sante logo' %>
              </div>
              <div class="content text-center flip p-20 pt-0">
                <h4 class="text-uppercase text-theme-colored letter-space-2">
                  Bonne-Sante
                </h4>

                <div class="date">
                  <em>
                    Indywidualna kuracja miesięczna z cotygodniowymi konsultacjami, analizą składu ciała i zastrzykami
                    motywacyjnymi.
                  </em>
                </div>
                <%= link_to 'Szczegóły', bonne_sante_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30 bg-theme-colored-white' %>
              </div>
            </div>
          </div>
        </div>

<!--        <div class="col-md-3 mb-30">-->
<!--          <div class="item">-->
<!--            <div class="class-item box-hover-effect effect1 bg-lighter">-->
<!--              <div class="thumb mb-20">-->
                <%#= image_tag 'home/korporacje.jpg', alt: 'korporacje logo' %>
<!--              </div>-->
<!--              <div class="content text-center flip p-20 pt-0">-->
<!--                <h4 class="text-uppercase text-theme-colored letter-space-2">-->
<!--                  Dla Firm-->
<!--                </h4>-->
<!--                <div class="date">-->
<!--                  <em>-->
<!--                    Benefit dla pracowników. Program wprowadzający work-life balance do życia-->
<!--                    firmy. Nowatorskie zajęcia pod opieką dietetyka klinicznego.-->
<!--                  </em>-->
<!--                </div>-->
                <%#= link_to 'Szczegóły', corporations_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30 bg-theme-colored-white' %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div class="col-md-4 mb-30">
          <div class="item">
            <div class="class-item box-hover-effect effect1 bg-lighter">
              <div class="thumb mb-20">
                <%= image_tag 'home/prelekcje.jpg', alt: 'prelekcje logo' %>
              </div>
              <div class="content text-center flip p-20 pt-0">
                <h4 class="text-uppercase text-theme-colored letter-space-2">
                  Prelekcje
                </h4>

                <div class="date">
                  <em>
                    Wykłady na temat zdrowego stylu życia dotyczące roli zbilansowanej diety, motywacji, redukcji
                    stresu oraz pomiary uczestników.
                  </em>
                </div>
                <%= link_to 'Szczegóły', lectures_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30 bg-theme-colored-white' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
