<section class="bg-theme-colored">
  <div class="container pt-0 pb-0">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12 mt-20 mb-20">
          <div class="testimonial-carousel fullwidth">

            <% content = 'Jestem pod opieką Pani Aleksandry od roku. Ma wspaniałe podejście do pacjenta. Za każdym razem
             indywidualne podejście, nie ma masówki, Pani Aleksandra skupia się na potrzebach pacjenta. Ułożona dieta
             jest zróżnicowana i bardzo skuteczna w każdym tygodniu nowy plan a w nim same pyszne rzeczy Pani Aleksandra
             niesamowicie motywuje do działania, zmienia podejście do jedzenia. Dzięki Niej łatwiej wprowadzić w życie
             zdrowe żywienie, bo jest ciekawe i smaczne. Nigdy więcej innych dietetyków!' %>

            <%= render partial: 'home/partials/testimonial', locals: {content: content, author: 'Ewelina Z.'} %>

            <% content = 'Pani Aleksandra zawsze służyła mi pomocą, wsparciem zarówno telefonicznym jak i w trakcie
            konsultacji. Zarówno telefony, jak i wizyty kontrolne były chyba zawsze inspirowane przez Panią Olę.
            Zmniejszenie wagi o około 10 kg dodało mi energii, umożliwiło uprawiania sportu na poziomie który wcześniej był
            nieosiągalny. Dzięki ponad półrocznej opiece i wsparciu Pani Oli, nawyki żywieniowe trwale weszły do mojego życia.' %>

            <%= render partial: 'home/partials/testimonial', locals: {content: content, author: 'Przemysław R.'} %>

            <% content = 'Na planie Metabolic Balance jestem od października 2017 r. Dzięki fachowej opiece p. Oli schudłam około
                10 kg, co więcej, poziom nawodnienia wzrósł o około 10 %, co zaowocowało zdecydowanym polepszeniem
                samopoczucia (zniknęła m.in. ospałość towarzysząca przy Hashimoto) oraz zniwelowało dolegliwości
                trawienne wpływając jednocześnie na poprawę wyglądu :).' %>

            <%= render partial: 'home/partials/testimonial', locals: {content: content, author: 'Monika M.'} %>

            <% content = 'Cudowna, ciepła i przede wszystkim normalna - a taka relacja w długim kontakcie z dietetykiem jest
                bardzo ważna, bo wzbrania przed oszukiwaniem nawet samego siebie ;). Pani Ola potrafi zadzwonić ze
                wsparciem nawet w sobotni wieczór, konkretna, rzeczowa, każdy aspekt planu potrafi sprawnie i
                szczegółowo omówić. Polecam z całego serca!' %>

            <%= render partial: 'home/partials/testimonial', locals: {content: content, author: 'Ewelina S.'} %>

            <% content = 'Z przyjemnością polecam! Mój wynik to blisko 10 kg w dół :) :) Na planie żywieniowym Oli jestem od
                połowy lutego. Nawet nie wiem kiedy to zleciało. Jak napiszę, że bezboleśnie to skłamię - faktycznie
                wymaga to samodyscypliny. Cudów nie ma. Jak to mówią - z pustego to i Salomon nie naleje ;) Niemniej
                jednak muszę uczciwie przyznać, że Ola dobiera plan i ustala go w taki sposób, by nie był męczarnią.' %>

            <%= render partial: 'home/partials/testimonial', locals: {content: content, author: 'Beata D.'} %>

            <% content = 'Bardzo profesjonalna pomoc, życzliwe i miłe podejście do pacjenta. Już po miesiącu stosowania się do
                zaleceń zauważyłam pierwsze pozytywne efekty m.in. mniejsze zmęczenie.' %>

            <%= render partial: 'home/partials/testimonial', locals: {content: content, author: 'Iwona K.'} %>

            <% content = 'Odkąd jestem na planie schudłam 7 kilo i czuje się z tym świetnie. Z badań wyszła
                mi insulinooporność więc dieta jak najbardziej mi sprzyja aby nie zachorować na cukrzycę. Sama sobie
                przygotowuje posiłki i przez to podszlifowałam swoje kulinarne umiejętności. Jestem zadowolona z tego jak
                teraz wyglądam i nie zamierzam już nigdy wracać do poprzedniego stylu życia i odżywiania.' %>

            <%= render partial: 'home/partials/testimonial', locals: {content: content, author: 'Natalia O.'} %>

            <% content = 'Dzięki współpracy z Panią Olą udało mi się nareszcię ustabilizować wagę. Wcześniejsze diety, jakkolwiek
                skuteczne, dawały mniej lub bardziej długotrwały efekt, ale niestety zajadanie stresu zazwyczaj
                powodowało, że pojawiał się efekt jo-jo. Dieta przygotowana przez Panią Olę pozwoliła mi nie tylko
                zredukować zapasy, ale również utrzymać wagę w dłuższym okresie czasu.' %>

            <%= render partial: 'home/partials/testimonial', locals: {content: content, author: 'Szymon D.'} %>

            <% content = 'Bardzo profesjonalna i niezastąpiona pomoc. Bardzo się cieszę, że skorzystałam z porady dietetycznej,
                która pozwala mi wprowadzać zdrowe nawyki żywieniowe, to duża dawka pozytywnej energii!' %>

            <%= render partial: 'home/partials/testimonial', locals: {content: content, author: 'Malwina K.'} %>

            <% content = 'Pani Aleksandra jest niezwykle profesjonalna i zaangażowana, widać, że jest pasjonatką tego, co robi. A
                przy tym jest cudowną, ciepłą i empatyczną osobą. Pracujemy razem nade mną już jakiś czas i wynik -
                ponad 17 kg - mówi sam za siebie...' %>

            <%= render partial: 'home/partials/testimonial', locals: {content: content, author: 'Paweł F.'} %>


            <% content = 'Profesjonalne podejście, bardzo dobry kontakt z pacjentem. Jestem bardzo zadowolona, wszystko wyjaśnione
                w sposób prosty i zrozumiały. Polecam!' %>

            <%= render partial: 'home/partials/testimonial', locals: {content: content, author: 'Kinga Ż.'} %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
