<section id="classes" class="bg-theme-colored-white">
  <div class="container pb-sm-50 pb-50">
    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <p class="text-uppercase letter-space-4">
            Odpowiadamy na wszystkie potrzeby żywieniowe naszych pacjentów poprzez dobór odpowiedniej usługi i planu do
            potrzeb pacjenta
          </p>

        </div>
      </div>
    </div>

    <div class="row mtli-row-clearfix">
      <div class="col-md-2 mb-30"></div>

      <div class="col-md-4 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <%= image_tag 'home/metabolic_balance.jpg', alt: 'metabolic balance logo' %>
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored letter-space-2">
                Metabolic Balance
              </h4>

              <div class="date">
                <em>
                  Specjalistyczny plan żywieniowy trwający 6 miesięcy, powstający w oparciu o badania krwi i badania
                  hormonalne.
                </em>
              </div>
              <%= link_to 'Szczegóły', metabolic_balance_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <%= image_tag 'home/bonne_sante.jpg', alt: 'bonne sante logo' %>
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored letter-space-2">
                Bonne-Sante
              </h4>

              <div class="date">
                <em>
                  Indywidualne plany miesięczne z cotygodniowymi konsultacjami, pomiarami i zastrzykami
                  motywacyjnymi.
                </em>
              </div>
              <%= link_to 'Szczegóły', bonne_sante_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
            </div>
          </div>
        </div>
      </div>

      <!--      <div class="col-md-4 mb-30">-->
      <!--        <div class="item">-->
      <!--          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">-->
      <!--            <div class="thumb mb-20">-->
      <%#= image_tag 'home/metamorfoza.jpg', alt: 'metamorfoza logo' %>
      <!--            </div>-->
      <!--            <div class="content text-center flip p-25 pt-0">-->
      <!--              <h4 class="text-uppercase text-theme-colored font-weight-800 letter-space-2">Metamorfoza</h4>-->
      <!--              <div class="date">-->
      <!--                <em>-->
      <!--                  5 specjalistów: dietetyk, fizjoterapeuta, trener personalny, coach, internista współpracujący aby-->
      <!--                  zmienić cię w nową, lepszą wersję siebie.-->
      <!--                </em>-->
      <!--              </div>-->
      <%#= link_to 'Szczegóły', metamorphosis_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="col-md-4 mb-30">-->
      <!--        <div class="item">-->
      <!--          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">-->
      <!--            <div class="thumb mb-20">-->
      <%#= image_tag 'home/ars_medica.jpg', alt: 'ars medica logo' %>
      <!--            </div>-->
      <!--            <div class="content text-center flip p-25 pt-0">-->
      <!--              <h4 class="text-uppercase text-theme-colored font-weight-800 letter-space-2">Ars Medica</h4>-->
      <!--              <div class="date">-->
      <!--                <em>-->
      <!--                  Pojedyncze wizyty w przychodni. Dawka wiedzy, sporządzenie indywidualnego planu dietetycznego, pomiary-->
      <!--                  parametrów ciała.-->
      <!--                </em>-->
      <!--              </div>-->
      <%#= link_to 'Szczegóły', ars_medica_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

    </div>
    <div class="row mtli-row-clearfix">
      <div class="col-md-2 mb-30"></div>
      <div class="col-md-4 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <%= image_tag 'home/korporacje.jpg', alt: 'korporacje logo' %>
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored letter-space-2">
                Firmy / Korporacje
              </h4>
              <div class="date">
                <em>
                  Benefit dla pracowników firm. Wzrost produktywności, zwiększenie motywacji oraz zadbanie o zdrowie
                  pracowników.
                </em>
              </div>
              <%= link_to 'Szczegóły', corporations_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <%= image_tag 'home/prelekcje.jpg', alt: 'prelekcje logo' %>
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored letter-space-2">
                Prelekcje
              </h4>

              <div class="date">
                <em>
                  Wykłady nt zdrowego odżywiania, demonstracje, rola zbilansowanej diety, ciekawostki, pomiary
                  uczestników.
                </em>
              </div>
              <%= link_to 'Szczegóły', lectures_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
